<div class="row products-section" style="margin:unset">
    <div class="col-12">
        <div class="breadcrumbs-row noborder">
            <div class="bc-col">

            </div>
            <div class="bc-col-btn ap-col-btn">
                <button class="btn btn-save" (click)="onSubmit()">
          <img src="assets/img/tick-round-white.png"alt="save" />
          {{ 'Customers.Customer.Save' | translate }}
        </button>
                <button (click)="cancel()" class="btn btn-cancel">
          <img src="assets/img/close-white-ico.png" alt="cancel" />
          {{ 'Customers.Customer.Cancel' | translate }}
        </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
</div>


<form (ngSubmit)="onSubmit()" [formGroup]="customerForm" novalidate class="form-horizontal m-t-20">
    <div class="flex addproduct-wrap">
        <div class="card ap-general">
            <div class="ap-header">
                <span> 1 </span>{{ 'Customers.Customer.CustomerDetails' | translate }}
            </div>

            <div class="flex ap-body">
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{ 'Customers.Customer.CustomerGroup' | translate
              }}<sup>*</sup></label
            >
            <ng-select [ngClass]="{ 'error-fields': submitted && f.customerGroup.errors }"
            formControlName="customerGroup" placeholder="{{ 'Customers.Customer.SelectCustomerGroup' | translate}}" [searchable]="false" >
            <ng-option  [value] = "1">default</ng-option>
            </ng-select>
              
            <div
              *ngIf="submitted && f.customerGroup.errors"
              class="validation-error"
            >
              <div *ngIf="f.customerGroup.errors.required">
                {{ 'Customers.Error.CustomerGroupIsRequired' | translate }}
              </div>
            </div>
          </div>
        </div>
        <!--Col-->
        <div class="ap-body-col">
          <div class="form-group">
            <label
              >{{ 'Sales.Orders.CustomerName' | translate }} <sup>*</sup>
            </label>
                        <input type="text" class="form-control" formControlName="customerName" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" placeholder="{{'Customers.CustomerPlaceholder.CustomerName' | translate}}" />
                        <div *ngIf="submitted && f.customerName.errors" class="validation-error">
                            <div *ngIf="f.customerName.errors.required">
                                {{ 'Customers.Error.CustomerNameIsRequired' | translate }}</div>
                            <div *ngIf="customerForm.controls['customerName'].hasError('minlength')"> {{ 'Customers.Error.MustBe3CharacterLong' | translate }}</div>
                            <div *ngIf="customerForm.controls['customerName'].hasError('maxlength')"> {{ 'Customers.Error.MustBe32CharacterLong' | translate }}</div>
                            <div *ngIf="customerForm.controls['customerName'].hasError('pattern')">{{ 'Customers.Error.MustBeString' | translate }}</div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{ 'Customers.Customer.Email' | translate }} <sup>*</sup></label>
                        <input type="email" class="form-control" formControlName="email" placeholder="{{'Customers.CustomerPlaceholder.Email' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="validation-error">
                            <div *ngIf="f.email.errors.required">{{ 'Customers.Error.EmailIsRequired' | translate }}</div>
                            <div *ngIf="f.email.errors.pattern">{{'Customers.Error.EmailMustBeAValidEmailAddress' | translate}}</div>
                            <div *ngIf="customerForm.controls['email'].hasError('maxlength')">{{ 'Customers.Error.MustBe96CharacterLong' | translate }}</div>
                        </div>
                    </div>
                </div>

                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{ 'Customers.Customer.Telephone' | translate }}<sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="telephone" maxlength="15" appOnlyNumber placeholder="{{'Customers.CustomerPlaceholder.Telephone' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" />
                        <div *ngIf="submitted && f.telephone.errors" class="validation-error">
                            <div *ngIf="f.telephone.errors.required">{{ 'Customers.Error.TelephoneIsRequired' | translate }}</div>
                            <div *ngIf="customerForm.controls['telephone'].hasError('maxlength')">{{ 'Customers.Error.MustBe15Numbers' | translate }}</div>
                            <div *ngIf="customerForm.controls['telephone'].hasError('minlength')">{{ 'Customers.Error.MustBe4Numbers' | translate }}</div>
                        </div>
                    </div>
                </div>
                <!--Col-->
            </div>
        </div>
        <!--General-->

        <div class="card ap-general ap-info">
            <div class="ap-header">
                <span> 2 </span>{{ 'Customers.Customer.MoreInformation' | translate }}
            </div>
            <div class="flex ap-body">
                <ngb-tabset style="width:100%;">
                    <ngb-tab>
                        <ng-template ngbTabTitle>{{ 'Customers.Customer.General' | translate }}
                        </ng-template>
                        <ng-template ngbTabContent>

                            <div class="flex data-row">
                                <div class="data-col">
                                    <div class="form-group">
                                        <label>{{ 'Customers.Customer.Password' | translate}}<sup *ngIf="!editCustomerId">*</sup></label>
                                        <input type="password" class="form-control" #pwd [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }" formControlName="password" placeholder="{{
                        'Customers.CustomerPlaceholder.Password' | translate
                      }}" (keyup)="enterPassword(pwd.value)" />
                                        <div class="validation-error" *ngIf="submitted && customerForm.controls['password'].hasError('required')">
                                            {{ 'Customers.Error.passwordIsRequired' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="customerForm.controls['password'].hasError('minlength')">
                                            {{ 'Customers.Error.MustBe8Characters' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="customerForm.controls['password'].hasError('hasNumber')">
                                            {{ 'Customers.Error.MustHave1NumberOrSymbol' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="customerForm.controls['password'].hasError('hasCapitalCase')">
                                            {{ 'Customers.Error.MustContain1CapitalCase' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="customerForm.controls['password'].hasError('hasSmallCase')">
                                            {{ 'Customers.Error.MustContain1SmallCase' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="customerForm.controls['password'].hasError('maxlength')">
                                            {{ 'Customers.Error.MustBe50Characters' | translate}}
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                                <!--Col-->
                                <div class="data-col">
                                    <div class="form-group">
                                        <label>{{ 'Customers.Customer.ConfirmPassword' | translate
                      }}<sup *ngIf="!editCustomerId">*</sup></label
                    >
                    <input
                      type="password"
                      class="form-control"
                      maxlength="50"
                      [ngClass]="{
                        'is-invalid': submitted && f.confirmpassword.errors
                      }"
                      formControlName="confirmpassword"
                      placeholder="{{
                        'Customers.Customer.ConfirmPassword' | translate
                      }}"
                    />
                    <div
                      *ngIf="submitted && f.confirmpassword.errors"
                      class="validation-error"
                    >
                      <div *ngIf="f.confirmpassword.errors.mismatchedPasswords">
                        {{
                          'Customers.Error.ConfirmpasswordIsMismatch'
                            | translate
                        }}
                      </div>
                    </div>
                  </div>
                  <!---->
                </div>
                <!--Col-->
        
                <!--Col-->
                <div class="data-col">
                  <div class="form-group">
                    <label
                      >{{ 'Customers.Customer.Status' | translate
                      }}<sup>*</sup></label
                    >
                    <ng-select  placeholder="{{ 'Customers.Customer.SelectStatus' | translate}}" [ngClass]="{ 'error-fields': submitted && f.status.errors }" [searchable]="false" formControlName="status">
                      <ng-option [value]="1">{{ 'Customers.Customer.Enabled' | translate}}</ng-option>
                      <ng-option [value]="0">{{ 'Customers.Customer.Disabled' | translate}}</ng-option>
                    </ng-select>
                    
                    <div
                      *ngIf="submitted && f.status.errors"
                      class="validation-error"
                    >
                      <div *ngIf="f.status.errors.required">
                        {{ 'Customers.Error.StatusIsRequired' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <!--Col-->
                <!-- <div class="data-col">

                  <div class="form-grou" style="margin-left: 11px">
                    <label>{{ 'Customers.Customer.MailStatus' | translate}}<sup>*</sup></label>
                                        <div class="change-size" style="width: 27%">
                                            <mat-checkbox formControlName="mailStatus" (change)="changeMailStatus($event)">
                                            </mat-checkbox>

                                        </div>
                                        <div *ngIf="submitted && f.mailStatus.errors" class="validation-error">
                                            <div *ngIf="f.mailStatus.errors.required">
                                                {{ 'Customers.Error.MailstatusIsRequired' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!--Col-->
                                <div class="data-col">
                                    <div class="form-group" style="margin-top:37px">
                                        <label>{{ 'Customers.Customer.MailStatus' | translate}}<sup>*</sup></label>
                                        <div class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input " id="checkbox2" formControlName="mailStatus" [ngModel]="mailCheckBox" style="cursor:inherit" />
                                            <label class="custom-control-label mail-tooltip" for="checkbox2">
                      <button
                          type="button"
                          class="btn"
                          placement="right"
                          style="padding: unset"
                          ngbTooltip="">
                      </button>
                      </label>
                                        </div>
                                        <div style="display: unset;" class="validation-error" *ngIf="submitted && f.mailStatus.errors">
                                            {{ 'Customers.Error.MailstatusIsRequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</form>