<app-catalog-header></app-catalog-header>
<div class="row products-section">
    <div class="col-12 layout-mar">
        <div class="card">
            <div class="product-ts-left">
                <ul>
                    <li>
                        <p>Total Products</p>
                        <h3>{{layoutSandbox.totalProductCount$ | async}}
                        </h3>
                    </li>
                    <li>
                        <p>Active Products</p>
                        <h3>{{layoutSandbox.activeProductCount$ | async}}
                        </h3>
                    </li>
                    <li>
                        <p>In-Active Products</p>
                        <h3>{{layoutSandbox.inActiveProductCount$ | async}}
                        </h3>
                    </li>
                    <li>
                        <p>Total Categories</p>
                        <h3>{{layoutSandbox.totalCatagoryCount$ | async}}
                        </h3>
                    </li>
                    <li>
                        <p>Total Brands</p>
                        <h3>{{brandSandbox.getManufacturercount$|async}}
                        </h3>
                    </li>
                </ul>
            </div>
            <!--Left-->
        </div>
    </div>
</div>

<router-outlet></router-outlet>