
.slider-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-slider-right {
  width: calc(280px - 20px);
  margin-left: 20px;
  box-sizing: border-box;
  margin-top: 14px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  .msr-col {
    width: 100%;
    height: 250px;
    border-radius: 4px 4px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.69);
      border-radius: 4px 4px 0 0;
    }
  }
  .msr-col-btm {
    width: 100%;
    height: 250px;
    border-radius: 0 0 4px 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.69);
      border-radius: 0 0 4px 4px;
    }
  }
  .msr-col-content {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 100px;
    h3 {
      color: white;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    p {
      color: white;
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 10px;
    }
    a {
      background: #02ad00;
      padding: 5px 10px;
      color: white;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.main-slider {
  height: 500px;
  margin-top: 14px;
  width: calc(100% - 280px);

  .slide-item {
    height: 100%;
    background-size: cover;
    background-position: center;
    .content {
      height: 100%;
      position: relative;
      z-index: 9;
      h1 {
        font-size: 48px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      h3 {
        font-size: 36px;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
    .mask {
      opacity: 0.6;
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .swiper-lazy-preloader {
    top: 18%;
  }
}

@media (max-width: 575px) {
  .main-slider {
    height: 280px;
    .slide-item .content {
      h1 {
        font-size: 24px;
        letter-spacing: 3px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-slider {
    height: 320px;
    .slide-item .content {
      h1 {
        font-size: 36px;
        letter-spacing: 3px;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
    }
  }
}

.swiper-container {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}