.avatar {
    vertical-align: middle;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50%;
}

.products-section {
    margin-top: 63px !important;
}

.breadcrumbs-row {
    margin-top: -57px !important;
}

.btn {
    background: #0fae61 !important;
}