.mat-radio-outer-circle {
    left: -3px !important;
    margin-top: -3px !important;
    width: 19px !important;
}

mat-radio-button {
    padding: 1px 4px !important;
}

.settings-right-wrapper {
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.setting2-inner-header {
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 0px !important;
    padding: 17px 15px;
    border-bottom: solid 1px #eee;
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        line-height: 1.2;
        padding: 0;
    }
}

.settings-right-wrapper.addnewuser {
    padding: 0px !important;
    z-index: 0;
    position: relative;
}

.settings-right-wrapper.addnewuser .new-user {
    padding: 34px 16px;
    border: none;
    .form-group {
        margin-bottom: 18px;
        label {
            font-size: 12px;
            font-weight: normal;
            color: #727272;
            margin: 0 0 8px;
        }
        input {
            width: 100%;
            height: 32px;
            border-radius: 5px;
            border: solid 1px #e8e8e8;
            background-color: #fff;
            padding: 0 16px;
            font-size: 14px;
        }
    }
    .btn-add {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #05ad00;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin-top: 40px;
    }
}

.bton {
    background: none;
    border: none;
    outline: none;
}

.invalid-feedback {
    display: block !important;
}