<div style="margin: 0 !important; border-bottom: 1px solid #B1B1B5;" class="flex setting2-inner-header">
    <h3 style="font-weight: 700;">{{editedStockValue ? 'Update Stock Status' : 'Add Stock Status' | translate}}</h3>
    <div class="close">
        <button (click)="close()" class="bton">x</button>
    </div>
</div>
<div class="settings-right-wrapper addnewuser">

    <div class="new-user">
        <form [formGroup]="stockStatusForm" class="form-horizontal m-t-20">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Local.StockStatus.StockStatusName' | translate}}<sup
                                class="supvalidation">*</sup></label>
                        <input type="text" formControlName="name" placeholder="{{'Settings.Local.StockStatus.StockStatusName' | translate}}" class="form-control" [ngClass]="{'validationcolor':stockStatusForm.get('name').hasError('required') && stockStatusForm.get('name').touched && submitted}"
                        />
                        <div class="error" *ngIf="stockStatusForm.get('name').hasError('required') && stockStatusForm.get('name').touched && submitted">
                            {{'Settings.Local.StockStatus.Error.Nameisrequired' | translate}}
                        </div>
                        <div class="error" *ngIf="stockStatusForm.get('name').hasError('pattern') && stockStatusForm.get('name').touched && submitted">
                            {{'Settings.Local.StockStatus.Error.MustBeAlphabhets' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">{{'Settings.Local.StockStatus.Status' | translate}}<sup
                                class="supvalidation">*</sup></label>
                        <ng-select placeholder="{{'Settings.Local.Language.SelectStatus' | translate}}" [searchable]="false" formControlName="status" [ngClass]="{'error-fields':!stockStatusForm.get('status').valid && !stockStatusForm.get('status').untouched && submitted}" data-placeholder="Choose Role">
                            <ng-option [value]="1">{{'Settings.Local.StockStatus.Enabled' | translate}}</ng-option>
                            <ng-option [value]="0">{{'Settings.Local.StockStatus.Disabled' | translate}}</ng-option>
                        </ng-select>
                        <div class="error" *ngIf="stockStatusForm.get('status').hasError('required') && stockStatusForm.get('status').touched && submitted">
                            {{'Settings.Local.StockStatus.Error.Statusisrequired' | translate}}
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="flex user-btn">
                        <button type="submit" (click)='onSubmit()' class="btn btn-add set-ad-btn">{{'Settings.Local.StockStatus.Save' | translate}}
                        </button>
                        <!-- <button (click)="close()" class="btn btn-cancel"> {{'Settings.Local.StockStatus.Cancel' | translate}}
                        </button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>