.orders-table.mat-table {
    display: block;
    overflow-x: auto;
    .mat-row,
    .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 870px;
    }
    .mat-cell,
    .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-header-cell {
        font-size: 14px;
    }
    .mat-cell {
        .order {
            text-decoration: none;
            font-weight: 500;
            color: white;
        }
        .btn-invoice {
            margin-left: 8px;
        }
        .actions {
            text-align: right;
        }
    }
}

.wrapper {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.color {
    width: 115px;
    // background: rgb(103, 152, 227);
    display: inline-block;
    padding: 3px 7px;
}