<% if (messages.errors) { 
%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% 
        messages.errors.forEach(function(error) {
    %>
    <div> <%= error.msg ? error.msg : error  %> </div>
    <%
        }); 
    %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    </div>
<% 
    }
%>
<% if (messages.success) { 
%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <% 
        messages.success.forEach(function(success) {
    %>
    <div> <%= success.msg ? success.msg : success  %> </div>
    <%
        }); 
    %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    </div>
<% 
    }
%>