<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>{{ 'catalog.product.Filters' | translate }}</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" [checked]="true" (change)="changeFilter($event)" />
                    <label class="tgl-btn" for="cb1"></label>
                </div>
                <ul class="order-status">
                    <!-- <p>{{ 'Sales.Orders.Status' | translate }}</p> -->
                    <li>
                        <span class="active"></span>{{'catalog.product.Active'| translate}}
                    </li>
                    <li>
                        <span class="inactive"></span>{{'catalog.product.In-Active'| translate}}
                    </li>
                </ul>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="bc-col-btn">
                    <button class="btn" [routerLink]="['/catalog/product/add']" [queryParams]="filterParams" [appHideIfUnauthorized]="'create-product'">
            <img src="assets/img/add-white-ico.png" alt="add" />{{ 'catalog.product.AddProduct' | translate }}
          </button>
                </div>
                <div class="dropdown" ngbDropdown [appHideIfUnauthorized]="undefined" [multipleHide]="['delete-product','export-product']">
                    <i class="fa fa-ellipsis-h cursor" style="padding:8px 10px;background:#ffa17d; margin-left:16px;" [ngClass]="{'export-data': filterDataId.length!=0}" ngbDropdownToggle> </i>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" [appHideIfUnauthorized]="'export-product'" (click)="exportExcel()" class="dropdown-item" ngbDropdownItem href="javascript:void(0)"> <img src="assets/img/export-sm.svg" alt="export"> {{ 'catalog.product.Export' | translate }}</a>
                        <a [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" [appHideIfUnauthorized]="'delete-product'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="bulkDelete()"> <img src="assets/img/delete-sm.svg" alt="delete"> {{ 'catalog.nav.Delete' | translate }} </a>
                    </div>
                </div>

            </div>
            <!--Right-->
        </div>
    </div>
</div>
<div class="flex product-wrap example-full-width">
    <div *ngIf="buttoncheck == true" class="filter-section">
        <div class="w3-container">
            <!--FILTER-->
            <app-catalog-product-filter (progressEmits)="receiveProgress($event)" [pageSize]="pageSize">
            </app-catalog-product-filter>
        </div>
    </div>
    <!--LIST-->
    <div class="product-table" [ngClass]="{ changesize: buttoncheck == true }">
        <div class="table-responsive">
            <table class="table" *ngIf="(productSandbox.productList$ | async)?.length > 0 && (productSandbox.productListLoaded$ | async)">
                <thead>
                    <tr>
                        <th scope="col" width="5%" [appHideIfUnauthorized]="undefined" [multipleHide]="['delete-product','export-product']">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input *ngIf="productSandbox.productList$ | async as products" type="checkbox" class="custom-control-input" id="checkbox1" (change)="selectAll()" [(ngModel)]="selectedAll" />
                                    <label style="cursor: pointer;" class="custom-control-label" for="checkbox1"></label>
                                </div>
                            </div>
                        </th>
                        <th scope="col">{{ 'catalog.product.Image' | translate }}</th>
                        <th scope="col">{{ 'catalog.product.Sku' | translate }}</th>
                        <th scope="col" width="20%">
                            {{ 'catalog.product.ProductsName' | translate }}
                        </th>
                        <th class="text-right" scope="col">{{ 'catalog.product.Price' | translate }}</th>
                        <th class="text-center" scope="col" width="100px" [appHideIfUnauthorized]="'make-today-deal'">
                            {{ 'catalog.product.TodayDeals' | translate }}</th>
                        <th scope="col" [appHideIfUnauthorized]="undefined" [multipleHide]="['view-product','delete-product', 'edit-product']">
                            {{ 'catalog.product.Action' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
              let product of productListArray;
              let i = index
            ">
                        <th scope="row" [appHideIfUnauthorized]="undefined" [multipleHide]="['delete-product','export-product']">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" (change)="checkIfAllSelected()" id="{{ product.productId }}" [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.selected" />
                                    <label class="custom-control-label" for="{{ product.productId }}"></label>
                                </div>
                            </div>
                        </th>
                        <td>
                            <img [src]="
                  imageUrl +
                  '?path=' + product.containerName +
                   '&name=' +
                  product.image +
                  '&width=60&height=60'
                " onError="this.src='assets/error-images/Load-icon-Products.png';" [alt]="product.name" />

                        </td>
                        <td>
                            {{ product.sku }}
                            <div *ngIf="product.isActive === 1">
                                <span class="tag-active" style="width: 60px;display: inline-block;padding: 1px 4px; ">{{ 'Settings.Role.Active' | translate }}</span>
                            </div>
                            <div *ngIf="product.isActive === 0">
                                <span class="tag-inactive" style="width: 63px;display: inline-block;padding: 1px 4px; ">{{ 'Settings.Role.InActive' | translate }}</span>
                            </div>
                        </td>
                        <td class="name" style="cursor: pointer" [routerLink]="['/catalog/product/edit', product.productId]" [queryParams]="filterParams">
                            {{ product.name }}
                        </td>

                        <td class="text-right cat-price" *ngIf="product.flag === 1">
                            <p *ngIf="product.flag == 1">
                                <del>{{
                    product.price
                      | currencysymbol: (commonSandbox.settings$ | async)
                  }}
                </del>
                            </p>
                            <p style="color: red" *ngIf="product.flag == 1">
                                {{ product.pricerefer | currencysymbol: (commonSandbox.settings$ | async) }}
                            </p>
                        </td>
                        <td class="text-right cat-price" *ngIf="product.flag === 0">
                            <p *ngIf="product.pricerefer">
                                {{ product.pricerefer | currencysymbol: (commonSandbox.settings$ | async) }}
                            </p>
                            <p *ngIf="!product.pricerefer">
                                {{ product.price | currencysymbol: (commonSandbox.settings$ | async) }}
                            </p>
                        </td>
                        <td class="text-center" [appHideIfUnauthorized]="'make-today-deal'">
                            <div class="toggle">
                                <input class="tgl tgl-light" id="{{ product.name }}" [(ngModel)]="product.todaydeals" (change)="todayDealsChange($event, product)" type="checkbox" />
                                <label class="tgl-btn" for="{{ product.name }}"></label>
                            </div>
                        </td>

                        <td class="cat-prd-action" width="120px" [appHideIfUnauthorized]="undefined" [multipleHide]="['delete-product','view-product', 'edit-product']">

                            <a *ngIf="product.isActive === 1" (click)="product_Details(product.productSlug)" [appHideIfUnauthorized]="'view-product'">
                                <img src="assets/img/globe.png" alt="globe">
                            </a>

                            <a class="globe_icon" [routerLink]="['/catalog/product/edit', product.productId]" [queryParams]="filterParams" [appHideIfUnauthorized]="'edit-product'">
                                <img src="assets/img/edit.png" alt="edit" />
                            </a>

                            <a class="globe_icon" [appHideIfUnauthorized]="'delete-product'" (click)="deleteProduct(product.productId)">
                                <img src="assets/img/delete-new.png" alt="delete">
                            </a>

                            <a class="globe_icon" (click)="viewQuestion(product.productId)" [appHideIfUnauthorized]="undefined" [multipleHide]="['create-product-question','product-question-list']">
                                <img src="assets/img/ask.png" />
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(productSandbox.productList$ | async)?.length == 0 && (productSandbox.productListLoaded$ | async)">
                <p>{{ 'Sales.Orders.datanotfound' | translate }}</p>
            </div>
        </div>
        <mat-paginator #pagination [length]="productSandbox.productCount$ | async" [pageSize]="pageSize" [pageIndex]="index" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>