.disable {
    pointer-events: none;
}

.product-wrap .product-table .table .globe_icon {
    padding: 5px 3px !important;
}

.product-wrap .product-table .table .custom-checkbox {
    top: 0px !important;
}

.cat-price {
    p {
        margin: 0;
    }
}

.products-section .toggle .tgl:checked+.tgl-btn {
    background-color: #ed571f !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ed571f !important;
    border: #ed571f !important;
}

.export-data {
    background: #ff895c !important;
}