<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>By enabling this, the admin will be stopping the end-users/customers from doing any kind of activity – browsing and searching for products or doing an online purchase, on the eCommerce portal. The admin can use this option, whenever they need to make
        any update or enhancement to the eCommerce portal. This way, they will be informing the Customers about the same, and requesting for their patience, while they are updating or enhancing the eCommerce portal. </p>
</div>

<div class="maintenance-wrap">
    <h3>{{'Settings.system.Entermaintenancemode' | translate}}</h3>
    <div class="maintenance-bx">Would you like to turn on the maintenance mode for your eCommerce portal? Remember that your customers will not be able to carry out any activity on the eCommerce portal, when maintenance mode is enabled. </div>
    <div class="radio flex">
        <mat-radio-group fxLayout="column" [(ngModel)]="mode" fxLayoutGap=".25rem">
            <mat-radio-button [value]="'1'">{{'Settings.system.Yes' | translate}}</mat-radio-button>
            <mat-radio-button [value]="'0'">{{'Settings.system.No' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <button (click)="submitMode()">{{'Settings.system.Save' | translate}}</button>
</div>