.ofs-container {
    padding: 10px;
    .loc-lay-title {
        margin-bottom: 50px;
        h3 {
            font-size: 24px;
            font-weight: bold;
            color: #222;
            line-height: 1.21;
            margin-bottom: 19px;
        }
        p {
            font-size: 14px;
            font-weight: normal;
            color: #6d6d6d;
            line-height: 1.5;
        }
    }
    .ofs-table {
        width: 100%;
        .ofs-row {
            width: 100%;
            justify-content: flex-start;
            .ofs-col-fst {
                width: 50%;
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #222;
                    margin: 50px 0 0;
                }
            }
            .ofs-col-lst {
                width: 50%;
                justify-content: flex-start;
                .ofs-col-lst-col {
                    width: 20%;
                    min-height: 76px;
                    border: solid 1px #f6ebb3;
                    border-bottom: 0;
                    background-color: #fffdf3;
                    text-align: center;
                    padding: 18px 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: #7d7340;
                }
                .ofs-col-lst-action {
                    border: 0;
                    background: transparent;
                    width: 20%;
                }
            }
            &.ofs-row-def {
                border: solid 1px #e1e1e1;
                border-top: 0;
                background-color: #fdfdfd;
                .ofs-col-fst {
                    justify-content: flex-start;
                    align-items: center;
                    .ofscf-move {
                        width: 59px;
                        text-align: center;
                    }
                    .ofscsf-stit {
                        font-size: 14px;
                        font-weight: normal;
                        color: #7e7e7e;
                        width: calc(100% - 59px - 130px);
                    }
                    .ofscsf-stst {
                        font-size: 14px;
                        font-weight: normal;
                        color: #adadad;
                        font-style: italic;
                        width: 130px;
                    }
                }
                .ofs-col-lst {
                    align-items: center;
                    .ofs-col-lst-col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .ofs-col-lst-action {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // gap: 1rem;
                        flex-wrap: nowrap;
                        gap: 0.1em;
                        .toggle {
                            .tgl:checked+.tgl-btn::after {
                                background: #fff;
                                border: solid thin #0ca468;
                            }
                            .tgl-light:checked+.tgl-btn {
                                background-color: #0ca468!important;
                            }
                            .tgl-light+.tgl-btn {
                                height: 20px!important;
                            }
                            .tgl-light+.tgl-btn::after {
                                top: -1px;
                                border: solid thin #ddd;
                            }
                        }
                        button {
                            background: transparent;
                            border: 0;
                        }
                    }
                }
            }
            &.ofs-row-header {
                // overflow-y: scroll;
            }
        }
        .ofs-row-scroll {
            width: 100%;
            height: 500px;
            overflow-y: auto;
        }
        .ofs-row-tit {
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            min-height: 52px;
            border: solid 1px #e1e1e1;
            background-color: #f4f4f4;
            padding-left: 59px;
            h3 {
                font-size: 14px;
                font-weight: 500;
                color: #222;
                margin: 0 13px 0 0;
            }
            a {}
        }
        .ofs-row-new {
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            min-height: 52px;
            border: solid 1px #e1e1e1;
            border-top: 0;
            background-color: #fff;
            padding-left: 59px;
            p {
                font-size: 14px;
                font-weight: 400;
                color: #222;
                margin: 0 21px 0 0;
            }
            button {
                width: 184px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                background-color: #21ad64;
                font-size: 13px;
                font-weight: 500;
                color: #fff;
                border: 0;
                img {
                    margin-right: 7px;
                }
            }
        }
    }
}

.ofs-gtn {
    width: 100%;
    background-color: #f9f9f9;
    padding: 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    button {
        width: 91px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        border-radius: 2px;
        background-color: #21ad64;
        border: 0;
        &.cancel {
            border-radius: 2px;
            outline: solid 1px #acadac;
            background-color: #fff;
            color: #5b5b5b;
        }
    }
}

.img-resize {
    height: 20px;
    width: 20px;
}