<mat-expansion-panel *ngFor="let category of subCategory; let i = index" [expanded]="(isClicked[category.categoryId]) || ((listSandBox.getactiveCategoryID$|async) ==category.categoryId) || (activecategory==category.categoryId)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h4 [ngClass]="{'horizontal-active-link':(isClicked[category.categoryId]) || ((listSandBox.getactiveCategoryID$|async) ==category.categoryId) || (activecategory==category.categoryId) }">
                {{category.name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="category.children && category.children.length>0" class="sub-category">
        <div class="category" *ngFor="let subCategories of category.children; let i = index">

            <button mat-menu-item [ngClass]="{'active':isClicked[subCategories.categoryId]}" (click)="changeCategory(subCategories.categoryId,category.categoryId, subCategories.name )">
                <span>{{subCategories.name}}</span>
            </button>
            <div *ngIf="subCategories.children && subCategories.children.length>0" class="sub-category">
                <div class="category" *ngFor="let grandCategories of subCategories.children; let i = index">
                    <button mat-menu-item [ngClass]="{'active':isClicked[grandCategories.categoryId]}" (click)="changeCategory(grandCategories.categoryId,category.categoryId, grandCategories.name)">
                        <span>{{grandCategories.name}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>


<!--needed-->

<!--<div class="category" *ngFor="let category of subCategory; let i = index">-->
<!--<button mat-menu-item  [ngClass]="{'active':isClicked[category.categoryId]}" (click)="changeCategory(category.categoryId, category.name);isClicked = [];isClicked[category.categoryId] = (isClicked[category.categoryId]? false :true )">-->
<!--<span>{{category.name}}</span>-->
<!--</button>-->
<!--<div *ngIf="category.children && category.children.length>0" class="sub-category">-->
<!--<div class="category" *ngFor="let caty of category.children; let i = index">-->

<!--<button mat-menu-item  [ngClass]="{'active':isClicked[caty.categoryId]}" (click)="changeCategory(caty.categoryId, caty.name);isClicked = [];isClicked[caty.categoryId] = (isClicked[caty.categoryId]? false :true )">-->
<!--<span>{{caty.name}}</span>-->
<!--</button>-->
<!--<div *ngIf="caty.children && caty.children.length>0" class="sub-category">-->
<!--<div class="category" *ngFor="let sub of caty.children; let i = index">-->
<!--<button mat-menu-item  [ngClass]="{'active':isClicked[sub.categoryId]}" (click)="changeCategory(sub.categoryId, sub.name);isClicked = [];isClicked[sub.categoryId] = (isClicked[sub.categoryId]? false :true )">-->
<!--<span>{{sub.name}}</span>-->
<!--</button>-->
<!--</div>-->
<!--&lt;!&ndash;        <app-category-list [categories]="category.children" [categoryParentId]="category.categoryId" (change)="changeCategory($event)"></app-category-list>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;        <app-category-list [categories]="category.children" [categoryParentId]="category.categoryId" (change)="changeCategory($event)"></app-category-list>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->