<div class="setup-wrapper">
    <app-breadcrumb></app-breadcrumb>
    <div class="setup-container  localization-container editprofile-container" style="padding: 16px;">

        <!-- <div class="loc-lay-title">
            <h3>Edit Profile</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing</p>
        </div> -->

        <div class="setup-right">

            <div class="flex edit-profile-nav">
                <a href="javascript:void(0)" [routerLink]="['/../../editprofile']"> {{'Profile.user.Profile' | translate}} </a>
                <a href="javascript:void(0)" class="active" [routerLink]="['/../../change-password']"> {{'Profile.user.Password' | translate}} </a>
            </div>

            <div class="set-lay-notes flex">
                <h4>Note :</h4>
                <p>Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut de commodis suis. Tum dicere exorsus est consecutus? laudem et ultimum bonorum, quod maxime consuevit iactare. Alii autem, quibus ego cum soluta nobis est consecutus? laudem et aut
                    petat. In oculis quidem faciunt, ut dolore suo sanciret militaris imperii disciplinam exercitumque in.</p>
            </div>

            <form>
                <div class="flex editprofilerow">

                    <form novalidate (ngSubmit)="onSubmit(changePassword.value)" [formGroup]="changePassword" class="form-horizontal epr-frm-pwd">

                        <div class="epr-frm">

                            <div class="suprs-form">
                                <div class="suprs-form-row flex">
                                    <label>{{'Profile.user.CurrentPassword' | translate}} <a href="javascript:void(0)">
                                         <!-- <img src="assets/img/icon-information-circle-outline.svg"> -->
                                         </a>  </label>
                                    <div class="suprs-form-col">
                                        <input [(ngModel)]="oldPSW" required minlength="8" type="password" formControlName="oldPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.oldPSW.errors }" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
                                        <div *ngIf="submitted && f.oldPSW.errors" class="invalid-feedback">
                                            <div *ngIf="f.oldPSW.errors.required">{{'Profile.Error.OldPasswordisrequired' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="suprs-form">
                                <div class="suprs-form-row flex">
                                    <label>{{'Profile.user.NewPassword' | translate}} <a href="javascript:void(0)"> 
                                        <!-- <img src="assets/img/icon-information-circle-outline.svg">  -->
                                    </a>  </label>
                                    <div class="suprs-form-col">
                                        <input [(ngModel)]="newPSW" required minlength="5" type="password" formControlName="newPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.newPSW.errors }" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
                                        <div class="invalid-feedback" *ngIf="submitted && changePassword.controls['newPSW'].hasError('required')">
                                            {{'Settings.User.Error.Passwordisrequired' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('minlength')">
                                            {{'Settings.User.Error.Mustbeatleast8characters' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasNumber')">
                                            {{'Settings.User.Error.Musthaveatleast1numberorSymbol' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasCapitalCase')">
                                            {{'Settings.User.Error.Mustcontainatleast1inCapitalCase' | translate}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="changePassword.controls['newPSW'].hasError('hasSmallCase')">
                                            {{'Settings.User.Error.Mustcontainatleast1inSmallCase' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="suprs-form">
                                <div class="suprs-form-row flex">
                                    <label>{{'Profile.user.ConfirmPassword' | translate}}  <a href="javascript:void(0)"> 
                                        <!-- <img src="assets/img/icon-information-circle-outline.svg"> -->
                                     </a>  </label>
                                    <div class="suprs-form-col">
                                        <input [(ngModel)]="confirmPSW" required minlength="5" type="password" formControlName="confirmPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.confirmPSW.errors }" placeholder="Confirm Password" aria-label="Confirm Password"
                                            aria-describedby="basic-addon2">
                                        <div *ngIf="submitted && f.confirmPSW.errors" class="invalid-feedback">

                                            <div *ngIf="f.confirmPSW.errors.required">{{'Profile.Error.ConfirmPassword' | translate}}

                                            </div>
                                            <div *ngIf="f.confirmPSW.errors.mismatchedPasswords">{{'Customers.Error.ConfirmpasswordIsMismatch'| translate}} </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="flex srbtn">
                                <button class="cancel" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">{{'Settings.Local.Country.Cancel' | translate}}</button>
                                <button>{{'Settings.Local.Save' | translate}}</button>
                            </div>

                        </div>
                        <!-- center -->

                    </form>





                </div>
            </form>


        </div>



    </div>

</div>