.auth-wrapper .auth-box .changePswform .float-left {
    line-height: 2;
    font-weight: 800;
    background: #1e313e;
    border-radius: 30px;
    width: 130px;
    margin-left: unset !important;
}
