<div class="flex setting1-inner-header" style="margin: 0 !important; border-bottom: 1px solid #B1B1B5;">
    <h3 style="font-weight: 700;"> {{updateTitle ? 'Update User' : 'Add User'}} </h3>
    <div class="close" style="cursor: pointer;" (click)="close()">x</div>
</div>

<div style="margin: 0 !important;" class="settings-right-wrapper">

    <!---->
    <div class="new-user">
        <form (ngSubmit)="onSubmit(user.value)" [formGroup]="user" class="form-horizontal m-t-20">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.User.FirstName' | translate}}<sup class="supvalidation">*</sup></label>
                        <input type="text" [(ngModel)]="firstName" formControlName="firstName" class="form-control" placeholder="{{'Settings.User.FirstName' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">{{'Settings.User.Error.FirstNameisrequired' | translate}}</div>
                            <div *ngIf="user.controls['firstName'].hasError('minlength')">{{'Settings.User.Error.Mustbeatleast3characterslong' | translate}}</div>
                            <div *ngIf="user.controls['firstName'].hasError('maxlength')">{{'Settings.User.Error.Mustbemax32characterslong' | translate}}</div>
                            <div *ngIf="user.controls['firstName'].hasError('pattern')">{{'Settings.User.Error.Mustbestring' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.User.LastName' | translate}}<sup class="supvalidation">*</sup></label>
                        <input type="text" [(ngModel)]="lastName" formControlName="lastName" class="form-control" placeholder="{{'Settings.User.LastName' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">{{'Settings.User.Error.LastNameisrequired' | translate}}</div>
                            <div *ngIf="user.controls['lastName'].hasError('maxlength')">{{'Settings.User.Error.Mustbemax32characterslong' | translate}}</div>
                            <div *ngIf="user.controls['lastName'].hasError('pattern')">{{'Settings.User.Error.Mustbestring' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.User.Email' | translate}}<sup class="supvalidation">*</sup></label>
                        <input type="email" [(ngModel)]="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'Settings.User.Error.Emailisrequired' | translate}}</div>
                            <div *ngIf="f.email.errors">{{'Settings.User.Error.Emailmustbeavalidemailaddress' | translate}}</div>
                            <div *ngIf="user.controls['email'].hasError('maxlength')">{{'Settings.User.Error.Mustbemax96characterslong' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">{{'Settings.User.Role' | translate}}<sup class="supvalidation">*</sup></label>
                        <ng-select placeholder="{{'Settings.User.Select' | translate}}" [(ngModel)]="role" [searchable]="false" [ngClass]="{ 'error-fields': submitted && f.role.errors }" formControlName="role">
                            <ng-option *ngFor=" let rolelist of sandbox.getGroupRoleList$ | async" [value]="rolelist.groupId">{{rolelist.name}}</ng-option>
                        </ng-select>


                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'Settings.User.Error.Roleisrequired' | translate}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.User.UserName' | translate}}<sup class="supvalidation">*</sup></label>
                        <input type="email" [(ngModel)]="username" formControlName="username" class="form-control" placeholder="{{'Settings.User.UserName' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">{{'Settings.User.Error.UserNameEmailisrequired' | translate}}
                            </div>
                            <div *ngIf="f.username.errors">{{'Settings.User.Error.UserNameEmailmustbeavalidemailaddress' | translate}}</div>
                            <div *ngIf="user.controls['username'].hasError('maxlength')">{{'Settings.User.Error.Mustbemax32characterslong' | translate}}</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.User.Password' | translate}}<sup class="supvalidation">*</sup></label>
                        <input #pwd (keyup)="enterPassword(pwd.value)" type="password" [(ngModel)]="password" formControlName="password" class="form-control" placeholder="{{'Settings.User.Password' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">{{'Settings.User.Error.Passwordisrequired' | translate}}
                            </div>
                        </div>
                        <div class="invalid-feedback" *ngIf="user.controls['password'].hasError('minlength')">
                            {{'Settings.User.Error.Mustbeatleast8characters' | translate}}
                        </div>
                        <div class="invalid-feedback" *ngIf="user.controls['password'].hasError('hasNumber')">
                            {{'Settings.User.Error.Musthaveatleast1numberorSymbol' | translate}}
                        </div>
                        <div class="invalid-feedback" *ngIf="user.controls['password'].hasError('hasCapitalCase')">
                            {{'Settings.User.Error.Mustcontainatleast1inCapitalCase' | translate}}
                        </div>
                        <div class="invalid-feedback" *ngIf="user.controls['password'].hasError('hasSmallCase')">
                            {{'Settings.User.Error.Mustcontainatleast1inSmallCase' | translate}}
                        </div>
                        <div class="invalid-feedback" *ngIf="user.controls['password'].hasError('maxlength')">
                            {{'Settings.User.Error.Mustbemax50characters' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex srbtn">
                        <button style="width: 142px;" type="submit" class="settings-add-button">{{updateTitle ? 'Update User' : 'Save' |
                            translate}} 
                        </button>
                        <button (click)="UserCancle()" class="cancel">{{'Settings.User.Cancle' | translate}}
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>