<app-pages-layout></app-pages-layout>
<div class="row products-section " style="margin:unset">
    <div class="col-12">
        <div class="breadcrumbs-row noborder">
            <div class="bc-col">

            </div>
            <div class="bc-col-btn ap-col-btn">
                <button type="submit" class="btn btn-save" (click)="onSubmit()"><img
                        src="assets/img/tick-round-white.png" alt="add"> {{'CMS.Pages.Save'| translate}}
                </button>
                <button (click)="pagesCancel()" class="btn btn-cancel"><img src="assets/img/close-white-ico.png"
                        alt="close">{{'CMS.Pages.Cancel'|
                    translate}}
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
</div>

<div class="flex addproduct-wrap addgroup-wrap">

    <div class="card ap-general">
        <form (ngSubmit)="onSubmit()" [formGroup]="pagesForm" class="form-horizontal m-t-20">
            <div class="ap-header">
                {{'CMS.Pages.GeneralInformation'| translate}}
            </div>
            <div class="flex ap-body cmsap-body">

                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.PageTitle'| translate}} <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="pageTitle" placeholder="{{'CMS.Placeholder.PageTitle'| translate}}" [ngClass]="{ 'is-invalid': submitted && f.pageTitle.errors }" />
                        <div *ngIf="submitted && f.pageTitle.errors" class="validation-error">
                            <div *ngIf="f.pageTitle.errors.required">{{'CMS.Error.PageTitleIsRequired'| translate}}
                            </div>
                            <div class="error" *ngIf="pagesForm.get('pageTitle').hasError('maxlength')">
                                {{'CMS.BannerError.MustBe255CharacterLong'| translate}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.pageSlug'| translate}}</label>
                        <input type="text" class="form-control" formControlName="pageSlug" placeholder="{{'CMS.Placeholder.pageSlug'| translate}}" />
                    </div>
                </div>

                <!--Col-->
                <div class="ap-body-col width100">
                    <div class="form-group">
                        <label>{{'CMS.Pages.PageContent'| translate}} <sup>*</sup></label>
                        <ckeditor [config]="config" formControlName='pageContent' name='pageContent' class="cms_pages_validation" [ngClass]="{'cke_chrome': !pagesForm.get('pageContent').valid && pagesForm.get('pageContent').touched&&submitted==true}">
                        </ckeditor>
                        <div class="validation-error" *ngIf="pagesForm.get('pageContent').hasError('required') && pagesForm.get('pageContent').touched && submitted==true">
                            {{'CMS.Error.PageContentIsRequired'| translate}}
                        </div>

                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.Active'| translate}}<sup>*</sup></label>
                        <ng-select placeholder="{{'CMS.Pages.SelectStatus'| translate}}" [searchable]="false" formControlName="active" id="inlineFormCustomSelect" [ngClass]="{ 'error-fields': submitted && f.active.errors }">
                            <ng-option [value]="1">{{'CMS.Pages.Yes'| translate}}</ng-option>
                            <ng-option [value]="0">{{'CMS.Pages.No'| translate}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f.active.errors" class="validation-error">
                            <div *ngIf="f.active.errors.required">{{'CMS.Error.ThisFieldIsRequired'| translate}}</div>
                        </div>

                    </div>
                </div>
                <!--col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.MetaTitle'| translate}}</label>
                        <input type="text" class="form-control" formControlName="metaTitle" placeholder="{{'CMS.Placeholder.MetaTitle'| translate}}" [ngClass]="{ 'is-invalid': submitted && f.metaTitle.errors }">
                        <div *ngIf="submitted && f.metaTitle.errors" class="validation-error">
                            <div *ngIf="f.metaTitle.errors.required">{{'CMS.Error.MetaTitleIsRequired'| translate}}
                            </div>
                            <div *ngIf="pagesForm.get('metaTitle').hasError('maxlength')">
                                {{'CMS.Error.MetaTagTitleMaxlength70'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.MetaKeyword'| translate}}</label>
                        <input type="text" class="form-control" formControlName="metaKeyword" placeholder="{{'CMS.Placeholder.MetaKeyword'| translate}}" [ngClass]="{ 'is-invalid': submitted && f.metaKeyword.errors }">
                        <div *ngIf="submitted && f.metaKeyword.errors" class="validation-error">
                            <div *ngIf="f.metaKeyword.errors.required">{{'CMS.Error.MetaKeywordIsRequired'| translate}}
                            </div>
                            <div *ngIf="pagesForm.get('metaKeyword').hasError('maxlength')">
                                {{'CMS.BannerError.MustBe255CharacterLong'| translate}}
                            </div>
                        </div>
                    </div>
                </div>



                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'CMS.Pages.MetaContent'| translate}}</label>
                        <textarea class="form-control" rows="3" formControlName="metaContent" placeholder="{{'CMS.Placeholder.MetaContent'| translate}}" [ngClass]="{ 'is-invalid': submitted && f.metaContent.errors }"></textarea>
                        <div *ngIf="submitted && f.metaContent.errors" class="validation-error">
                            <div *ngIf="f.metaContent.errors.required">{{'CMS.Error.MetaContentIsRequired'| translate}}
                            </div>
                            <div *ngIf="pagesForm.get('metaContent').hasError('maxlength')">
                                {{'CMS.Error.Mustbe160'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Col-->

            </div>
        </form>

    </div>
    <!--General-->

</div>