<app-catalog-header></app-catalog-header>
<app-breadcrumb></app-breadcrumb>

<div class="row products-section">
    <div class="col-12 layout-mar">
        <div class="card">
            <div class="product-ts-left">
                <ul>
                    <li>
                        <p>{{'catalog.categories.TotalProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>

                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).totalProduct}}
                            <button type="button" class="btn" placement="bottom" ngbTooltip="Total number of products listed on the platform.">
                                <img src="assets/img/info-ico.png" alt="info"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.ActiveProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).activeProduct}}
                            <button type="button" class="btn" placement="bottom" ngbTooltip="Number of products that are active (displayed to visitors) on the platform.">
                                <img src="assets/img/info-ico.png" alt="info"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.In-ActiveProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).inActiveProduct}}
                            <button type="button" class="btn" placement="bottom" ngbTooltip="Number of products that are in-active(not displayed for visitors' view) on the platform.">
                                <img src="assets/img/info-ico.png" alt="info"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.TotalCategory'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).totalCategory}}
                            <button type="button" class="btn" placement="bottom" ngbTooltip="Total number of product categories on the platform.">
                                <img src="assets/img/info-ico.png" alt="info"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'catalog.categories.FeaturedProduct'| translate}}</p>
                        <span *ngIf="(layoutSandbox.catalogCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.catalogCountLoading$ | async)">{{(layoutSandbox.catalogCount$ | async).featuredProduct}}
                            <button type="button" class="btn" placement="left" ngbTooltip="Number of Products that are featured on the platform.">
                                <img src="assets/img/info-ico.png" alt="info"></button>
                        </h3>
                    </li>

                </ul>
            </div>
            <!--Left-->
        </div>
    </div>
</div>

<router-outlet></router-outlet>