<div class="card-align">
    <div class="cards">
        <form (ngSubmit)="onSubmits($event, forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
            <div class="admin">{{'Profile.Login.forgotpassword' | translate}}</div>
            <input type="text" class="form-control placeholder-fix" placeholder="Email" formControlName="email" [ngClass]="{'validationcolor':forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').touched)&&ifSubmitted==true}">
            <div class="validation-error" *ngIf="(forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true ">
                {{'Profile.Login.Error.Emailrequired' | translate}}
            </div>

            <div class="validation-error" *ngIf="(forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true">
                {{'Profile.Login.Error.Incorrectemail' | translate}}
            </div>
            <button class="btn btn-log"> {{'Profile.Login.Submit' | translate}}<span [hidden]="!(authSandbox.forgotpasswordLoading$ | async)"
                class="spinner-border spinner-border-sm pull-right" role="status"
                aria-hidden="true"></span></button>
            <div class="forgot" [routerLink]="['/auth/login']">{{'Profile.Login.BacktoLogin' | translate}}</div>
        </form>
    </div>
</div>