<div class="row products-section">
    <div class="col-12">
        <div class="breadcrumbs-row noborder">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/customers/customer']">Customers </a></li>
                    <li>Add Customers </li>
                </ul>
            </div>
            <div class="bc-col-btn ap-col-btn">
                <button class="btn btn-save" (click)="onSubmit()"><img
                        src="assets/img/tick-round-white.png"> Save </button>
                <button (click)="addCustCancle()" class="btn btn-cancel"><img
                        src="assets/img/close-white-ico.png"> Cancel </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="customerForm" novalidate class="form-horizontal m-t-20">
    <div class="flex addproduct-wrap">

        <div class="card ap-general">
            <div class="ap-header">
                <span> 1 </span>Customer Details
            </div>

            <div class="flex ap-body">

                <div class="ap-body-col">


                    <div class="form-group">
                            <label>Customer Group<sup>*</sup></label>
                            <select class="custom-select col-12" [(ngModel)]="customerGroup" [ngClass]="{ 'is-invalid': submitted && f.customerGroup.errors }" formControlName="customerGroup">
                                <option [ngValue]="undefined" selected>- -Select Customer Group- -</option>
                                <option value=1>Default</option>
                            </select>
                            <div *ngIf="submitted && f.customerGroup.errors" class="invalid-feedback">
                                <div *ngIf="f.customerGroup.errors.required">Customer Group is required</div>
                            </div>
                    </div>

                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Customer Name <sup>*</sup> </label>
                        <input type="text" [(ngModel)]="customerName" class="form-control" formControlName="customerName" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" placeholder="Customer Name">
                        <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                            <div *ngIf="f.customerName.errors.required">.Customer Name is required</div>
                            <div *ngIf="f.customerName.errors">Enter Correct Customer Name</div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Email <sup>*</sup></label>
                        <input type="email" [(ngModel)]="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required </div>
                            <div *ngIf="f.email.errors">Email must be a valid Email Address</div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Telephone<sup>*</sup></label>
                        <input type="text" class="form-control" [(ngModel)]="telephone" formControlName="telephone" appOnlyNumber maxlength="15" placeholder="Telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }">
                        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                            <div *ngIf="f.telephone.errors.required">Telephone is Required</div>
                            <div *ngIf="f.telephone.errors">Telephone Only Allow Numbers Max - 15 </div>

                        </div>
                    </div>
                </div>
                <!--Col-->

            </div>
        </div>
        <!--General-->

        <div class="card ap-general ap-info">
            <div class="ap-header">
                <span> 2 </span>More Information
            </div>
            <div class="flex ap-body">
                <ngb-tabset style="width:100%;">
                    <ngb-tab>
                        <ng-template ngbTabTitle>General</ng-template>
                        <ng-template ngbTabContent>
                            <div class="flex data-row">
                                <div class="data-col">
                                    <div class="form-group">
                                        <label>Password<sup>*</sup></label>
                                        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" placeholder="Password">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required </div>
                                        </div>

                                    </div>
                                    <!---->

                                </div>
                                <!--Col-->
                                <div class="data-col">
                                    <div class="form-group">
                                        <label>Confirm Password<sup>*</sup></label>
                                        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" formControlName="confirmpassword" placeholder="Confirm Password">
                                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                            <!--<div *ngIf="f.confirmpassword.errors.required">confirmpassword is required</div>-->
                                            <div *ngIf="f.confirmpassword.errors.mismatchedPasswords">New Password and Confirm password should Match </div>
                                        </div>

                                    </div>
                                    <!---->
                                </div>

                                <!--Col-->
                                <div class="data-col">
                                    <div class="form-group">
                                        <label>Status<sup>*</sup></label>
                                        <select class="custom-select col-12" [(ngModel)]="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" formControlName="status">
                                            <option  value="" selected>- -Select Status- -</option>
                                            <option value= 1 >Enabled</option>
                                            <option value= 0>Disabled</option>
                                        </select>
                                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                            <div *ngIf="f.status.errors.required"> Status is required </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Col-->
                                <div class="data-col">
                                    <div class="form-group" style="margin-left: 11px">
                                        <label>Mail Status<sup>*</sup></label>
                                        <div class="change-size" style="width: 27%">
                                            <mat-checkbox [ngClass]="{ 'is-invalid': submitted && f.mailStatus.errors}" [(ngModel)]='myValue' formControlName="mailStatus">
                                            </mat-checkbox>
                                        </div>
                                        <div *ngIf="submitted && f.mailStatus.errors" class="invalid-feedback">
                                            <div *ngIf="f.mailStatus.errors.required"> Mail Status is required</div>
                                        </div>
                                    </div>
                                </div>


                                <!--Col-->
                            </div>

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

    </div>
</form>