.setting2-inner-header {
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 0px !important;
    padding: 8px;
}
.settings-right-wrapper{
    margin-left: 0px !important;
}
.settings-right-wrapper.addnewuser {
     padding: 0px !important; 
    z-index: 0;
    position: relative;
}
.bton{
    background: none;
    border: none;
    outline: none;
  }