<app-banner-layout></app-banner-layout>
<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="bc-col-btn">
                    <button class="btn cms-btn" (click)="addBanner()" [appHideIfUnauthorized]="'create-banners'"><img
                            src="assets/img/add-white-ico.png"alt="add">{{'CMS.Banners.NewBanners'|
                        translate}}
                    </button>
                </div>

                <div class="dropdown" ngbDropdown [appHideIfUnauthorized]="" [multipleHide]="['banner-export','delete-banners']">
                    <i class="fa fa-ellipsis-h cursor" style="padding:8px 10px; margin-left: 16px;background:#d3c3e5" [ngClass]="{'export-data': filterDataId.length != 0}" ngbDropdownToggle></i>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a [appHideIfUnauthorized]="'banner-export'" [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" (click)="exportBanner()" class="dropdown-item" ngbDropdownItem href="javascript:void(0)"> <img src="assets/img/export-sm.svg" alt="export"> {{ 'catalog.product.Export' | translate }} </a>
                        <a [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" [appHideIfUnauthorized]="'delete-banners'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="bulkDelete()"> <img src="assets/img/delete-sm.svg" alt="delete"> {{ 'catalog.nav.Delete' | translate }} </a>
                    </div>
                </div>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap">
    <!--Filter-->
    <div class="product-table" style="width: 100%">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%">
                            <div class="form-group">
                                <div style="left:10px" class="custom-control custom-checkbox" [appHideIfUnauthorized]="" [multipleHide]="['banner-export','delete-banners']">
                                    <input *ngIf="sandbox.getbannerlist$ | async as banner" type="checkbox" class="custom-control-input" id="checkbox1" (change)="selectAll()" [(ngModel)]="selectedAll" />
                                    <label class="custom-control-label" for="checkbox1"></label>
                                </div>
                            </div>
                        </th>
                        <th scope="col">{{'CMS.Pages.Title'| translate}}</th>
                        <th scope="col">{{'CMS.Banners.Image'| translate}}</th>
                        <th scope="col">{{'CMS.Banners.Link'| translate}}</th>
                        <th class="text-center" scope="col">{{'CMS.Banners.Position'| translate}}</th>
                        <th scope="col" class="text-center">{{'CMS.Pages.Status'| translate}}</th>
                        <th scope="col" class="text-center" width="100" [appHideIfUnauthorized]="" [multipleHide]="['edit-banners','delete-banners']">{{'CMS.Banners.Action'| translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bannerInfo of bannerListArray; let i=index">
                        <th scope="row" class="text-center">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox" [appHideIfUnauthorized]="" [multipleHide]="['banner-export','delete-banners']">
                                    <input type="checkbox" class="custom-control-input" id={{bannerInfo.bannerId}} [ngModelOptions]="{standalone: true}" [(ngModel)]="bannerInfo.selected" (change)="checkIfAllSelected()">
                                    <label class="custom-control-label" for={{bannerInfo.bannerId}}></label>
                                </div>
                            </div>
                        </th>
                        <td class="name"> {{bannerInfo.title}}</td>
                        <td>
                            <img *ngIf="bannerInfo.image" [src]="imageUrl + '?path=' + bannerInfo.imagePath + '&name=' + bannerInfo.image + '&width=60&height=60'" onError="this.src='/assets/error-images/Load-icon-Products.png';" (load)="bannerListImageLoading(bannerInfo.bannerId)"
                                [hidden]="!bannerListImage[bannerInfo.bannerId]" [alt]="bannerInfo.title">
                            <img src="./assets/error-images/Load-icon-Products.png" alt="error" [hidden]="bannerListImage[bannerInfo.bannerId]">
                        </td>
                        <td>{{bannerInfo.link}}
                        </td>
                        <td class="text-center">{{bannerInfo.position}}</td>
                        <td class="text-center">
                            <div *ngIf="bannerInfo.active == 1">
                                <span class="tag-active">{{'Settings.Role.Active'| translate}}</span>

                            </div>
                            <div *ngIf="bannerInfo.active == 0">
                                <span class="tag-inactive">{{'Settings.Role.InActive'| translate}}</span>

                            </div>
                        </td>
                        <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-banners','delete-banners']">
                            <div class="dropdown" ngbDropdown>
                                <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle> </i>
                                <div ngbDropdownMenu class="dropdown-menu">
                                    <a [appHideIfUnauthorized]="'edit-banners'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="editBanner(bannerInfo)"> <img src="assets/img/edit.png" alt="edit" />{{'CMS.Pages.Edit'| translate}}</a>
                                    <a [appHideIfUnauthorized]="'delete-banners'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deleteBanner(bannerInfo.bannerId)"> <img src="assets/img/delete-new.png" alt="delete">{{'CMS.Pages.Delete'| translate}}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(sandbox.getbannerlist$ |async)?.length==0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
            <div class="flex table-footer">
                <div class="view-rec">
                </div>
                <!--mat pagination-->
                <mat-paginator [length]="sandbox.getbannerpagelength$ | async" [pageSize]="pageSize" [pageIndex]="index" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
                </mat-paginator>
                <!-- pagination end here-->
            </div>
        </div>
    </div>
    <!--Table-->

</div>