.setup-wrapper {
    padding: 16px;
    margin-bottom: 0!important;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.coc{
    background: #f20a6d !important;
      border: solid thin #dddddd !important;
      color: white !important;
      padding: 4px 16px !important;
  }

  .seo-tab{
    display: flex;
    justify-content: flex-start;
  }
  .back-button-settings{
      padding: 10px 10px 0 0;
      margin: 0 0 0 auto;
  }