<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>This is the section that is dedicated for making the entire site SEO friendly with meta tags. Here, the admin can provide the title, description and keywords that will bring the eCommerce portal on the top in the search engine rankings. </p>
</div>

<div class="setup-wrapper setup-personalize">
    <div class="setup-container flex">

        <div class="setup-left">
            <h3>{{'Settings.SiteSettings.seo.WhatSEOdetailsarerequired' | translate}}</h3>
            <p> • Meta title can be between 60-70 characters with a highly searchable keyword. <br>• Meta description can be a snippet to give an idea on the top products that are sold on eCommerce portal and this can range between 160-170 characters.<br>                • Meta keywords can be highly searchable keywords and those keywords that the target audience will be giving to search for the relevant eCommerce portal.</p>
        </div>

        <div class="setup-right">
            <form (ngSubmit)="onSubmit()" [formGroup]="seoForm" class="form-horizontal">

                <div class="sup-rht-section">

                    <div class="suprs-form">
                        <div class="suprs-form-row flex">
                            <label>{{'Settings.SiteSettings.MetaTitle' | translate}} <a href="javascript:void(0)">
                                 <!-- <img src="assets/img/icon-information-circle-outline.svg"> -->
                                 </a> </label>
                            <div class="suprs-form-col">
                                <input type="text" [appDisableIfUnauthorized]="'edit-seo-url'" formControlName="metaTitle" class="form-control" [ngClass]="{'validationcolor':seoForm.controls.metaTitle.errors && submitted}">
                                <div class="validation-error" *ngIf="seoForm.get('metaTitle').hasError('maxlength')">
                                    {{'Settings.SiteSettings.Errors.Mustbemaximum70characterslong' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="suprs-form">
                        <div class="suprs-form-row flex">
                            <label>{{'Settings.SiteSettings.MetaTagDescription' | translate}} <a href="javascript:void(0)"> 
                                <!-- <img src="assets/img/icon-information-circle-outline.svg">  -->
                            </a> </label>
                            <div class="suprs-form-col">
                                <input type="text" [appDisableIfUnauthorized]="'edit-seo-url'" formControlName="metaTagDescription" class="form-control" [ngClass]="{'validationcolor':seoForm.controls.metaTagDescription.errors && submitted}">
                                <div class="validation-error" *ngIf="seoForm.get('metaTagDescription').hasError('maxlength')">
                                    {{'Settings.SiteSettings.Errors.Mustbemaximum160characterslong' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="suprs-form">
                        <div class="suprs-form-row flex">
                            <label>{{'Settings.SiteSettings.MetatagKeyword' | translate}} <a href="javascript:void(0)"> 
                                <!-- <img src="assets/img/icon-information-circle-outline.svg">  -->
                            </a> </label>
                            <div class="suprs-form-col">
                                <input type="text" [appDisableIfUnauthorized]="'edit-seo-url'" formControlName="metaTagKeyword" class="form-control" [ngClass]="{'validationcolor':seoForm.controls.metaTagKeyword.errors && submitted}">
                                <div class="validation-error" *ngIf="seoForm.get('metaTagKeyword').hasError('maxlength')">
                                    {{'Settings.SiteSettings.Errors.Mustbemaximum255characterslong' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-12">
                        <div class="flex user-btn">`
                            <button type="submit" [appHideIfUnauthorized]="'edit-seo-url'"  class="settings-add-button">{{'Settings.SiteSettings.Save' | translate}}</button>
                            <button (click)="seoCancel()" [appHideIfUnauthorized]="'edit-seo-url'"  class="settings-add-button settings-cancel-button">{{'Settings.SiteSettings.Cancel' | translate}}
                            </button>
                        </div>
                    </div> -->

                    <div class="flex srbtn">
                        <button (click)="seoCancel()" [appHideIfUnauthorized]="'edit-seo-url'" class="cancel">{{'Settings.SiteSettings.Cancel' | translate}}</button>
                        <button type="submit" [appHideIfUnauthorized]="'edit-seo-url'">{{'Settings.SiteSettings.Save' | translate}}</button>
                    </div>


                </div>


            </form>
        </div>
    </div>
</div>