<div class="flex setting2-inner-header">
    <h3> {{roleInfo ? 'Update Role' : ' Add Role'}} </h3>
    <div class="close">
        <button class="bton" (click)="close()"> <img src="assets/img/icon-close-lite.svg"> </button>
    </div>
</div>

<div class="settings-right-wrapper addnewuser">

    <div class="new-user">
        <form (ngSubmit)="onSubmit(roleForm.value)" [formGroup]="roleForm" class="form-horizontal">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Role.RoleName' | translate}}</label>
                        <input type="text" formControlName="roleName" class="form-control" placeholder="{{'Settings.Role.RoleName' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" />
                        <div *ngIf="submitted && f.roleName.errors" class="validation-error">
                            <div *ngIf="f.roleName.errors.required">{{'Settings.Role.Error.RoleNameisrequired' | translate}}</div>
                            <div class="validation-error" *ngIf="roleForm.get('roleName').hasError('maxlength')">
                                {{'Settings.Role.Error.Mustbemax64characterslong' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="suprs-form col-lg-12">
                    <div class="suprs-form-row flex">
                        <div [appDisableIfUnauthorized]="'edit-general-settings'" class="mm-row flex">
                            <label>{{'Settings.Role.Status' | translate}}</label>
                            <!-- <div class="radio" [appDisableIfUnauthorized]="'edit-general-settings'">
                                    <mat-radio-group formControlName="maintenanceMode" fxLayout="column" [appDisableIfUnauthorized]="'edit-general-settings'" fxLayoutGap=".25rem">
                                        <mat-radio-button [appDisableIfUnauthorized]="'edit-general-settings'" [value]="'Yes'">{{'Settings.personalize.product.Yes' | translate}}
                                        </mat-radio-button>
                                        <mat-radio-button [appDisableIfUnauthorized]="'edit-general-settings'" [value]="'No'">{{'Settings.personalize.product.No' | translate}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div> -->
                            <div class="toggle">
                                <input (change)=" onChangestatus($event)" [appDisableIfUnauthorized]="'edit-general-settings'" formControlName="isActive" class="tgl tgl-light" id="cb1" [checked]="true" type="checkbox" />
                                <label class="tgl-btn" for="cb1"></label>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12">
                    <div class="flex srbtn">
                        <button (click)="close()" class="cancel"> {{'Settings.User.Cancle' | translate}}</button>
                        <button type="submit">{{roleInfo ? 'Update Role' : 'Save'}}</button>
                    </div>
                    <!-- <div class="flex user-btn">
                        <button type="submit" class="btn btn-add">{{'Settings.Local.Save' | translate}}</button>
                        <button (click)="close()" class="btn btn-cancel">{{'Settings.Local.Country.Cancel' | translate}}</button>
                    </div> -->
                </div>

            </div>




        </form>
    </div>
</div>