.mat-radio-container {
    height: 14px !important;
}

.mat-radio-label-content {
    padding-left: 10px!important;
    padding-right: 11px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 9999!important;
}

.cdk-overlay-pane {
    // min-width: 56px;
    // font-size: 12px;
    top: 566.812px !important;
    left: 690px !important;
    // transform: translateX(-16px) translateY(-47px);
}