<form (ngSubmit)="onSubmit()" [formGroup]="salesOrder" class="filter-form">
    <div class="form-group">
        <label for="keyboard"> {{'Sales.Orders.OrderId'| translate}} </label>
        <input type="text" class="form-control" id="keyboard" aria-describedby="emailHelp" formControlName="orderId" placeholder="{{'Sales.SalesPlaceholder.OrderId'| translate}}">
    </div>
    <div class="form-group">
        <label for="sku">{{'Sales.Orders.CustomerName'| translate}}</label>
        <input type="text" class="form-control" formControlName="name" id="sku" placeholder="{{'Sales.SalesPlaceholder.SKUNumber'| translate}}">
    </div>
    <div class="form-group">
        <label>{{'Sales.Orders.TotalAmount'| translate}} </label>
        <input appOnlyNumber type="text" class="form-control" formControlName="total" placeholder="{{'Sales.SalesPlaceholder.TotalAmount'| translate}}">

    </div>
    <div class="form-group">
        <label class="control-label">{{'Sales.Orders.DateAdded'| translate}} </label>
        <!-- <input style="cursor: pointer" type="date" class="form-control date" formControlName="date"> -->
        <input readonly style="cursor: pointer" type="text" class="form-control date" formControlName="date" placeholder="dd/mm/yyyy" name="dp" id="cal-in" [maxDate]="minPickerDate" (dateSelect)="onDateSelect($event)" ngbDatepicker #f="ngbDatepicker" (click)="f.toggle()"
        />
    </div>
    <div class="form-group">
        <label>{{'Sales.Orders.OrderStatus'| translate}} </label>
        <ng-select class="sol-fm" placeholder="{{'Sales.Orders.Select Status'| translate}}" [searchable]="false" [clearable]="false" formControlName="orderStatusId">
            <ng-option *ngFor="let data of orderStatusSandbox.getOrderstatuslist$ | async" value={{data.orderStatusId}}>{{data.name}}</ng-option>
        </ng-select>
    </div>

    <div class="text-right filter-btns">
        <a style="cursor: pointer" (click)="reset()">{{'Sales.Orders.Reset'| translate}}</a>
        <button type="submit" class="btn">{{'Sales.Orders.ApplyFilters'| translate}}</button>
    </div>
</form>