.settings-container {
    padding: 72px 20px;
    .settings-wrap {
        max-width: 1144px;
        margin: auto;
        .settings-col {
            width: calc(33.33% - 32px);
            margin: 0 16px 32px;
            border-radius: 8px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            min-height: 160px;
            position: relative;
            transition-duration: 0.3s;
            &:hover {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            }
            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                padding: 16px 16px 40px;
            }
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: #6b777e;
                line-height: 1.2;
                margin-bottom: 8px;
                img {
                    margin-right: 8px;
                }
            }
            p {
                font-size: 12px;
                font-weight: normal;
                color: #6d6d6d;
                line-height: 1.5;
                margin-bottom: 8px;
            }
            .set-col-btm {
                position: absolute;
                left: 0;
                bottom: 15px;
                width: 100%;
                justify-content: center;
                align-items: center;
                button {
                    background: transparent;
                    border: 0;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.75;
                    color: #4179cc;
                    text-decoration: underline;
                    img {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}