<div class="setup-wrapper">

    <div class="breadcrumbs-row">
        <div class="bc-col mar">
            <ul>
                <li class="cusror"><a href="javascript:void(0)" style="color: gray"> Settings </a></li>
                <li>Settings Home</li>
            </ul>
        </div>
    </div>

    <div class="settings-container">

        <div class="settings-wrap flex">

            <div class="settings-col" [routerLink]="['/settings/generalsetting']" [appHideIfUnauthorized]="'edit-general-settings'">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/settings.svg"> General </h3>
                    <p>General Settings is where the critical eCommerce settings are configured to get started with eCommerce portal.</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <div class="settings-col" [routerLink]="['/settings/local']" [appHideIfUnauthorized]="" [multipleHide]="['delivery-location-list','list-country','list-zone','list-language','list-currency','list-tax','list-order-status','list-stock-status']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/localization.svg"> Localization </h3>
                    <p>Localization is the adaptation of the eCommerce business to a certain country and zone and configuring of the local...</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <div class="settings-col" [routerLink]="['/settings/access-and-permission']" [appHideIfUnauthorized]="" [multipleHide]="['list-role','list-user']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/permission.svg"> Access and permission </h3>
                    <p>In this section the admin can create and maintain different admin roles and permissions.</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <div class="settings-col" [routerLink]="['/settings/sitesettings']" [appHideIfUnauthorized]="" [multipleHide]="['edit-general-settings','list-email-template']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/system.svg"> System </h3>
                    <p>From this section, the admin can have system level configurations such as switching over the entire...</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <div class="settings-col" [routerLink]="['/settings/personalize']" [appHideIfUnauthorized]=""[multipleHide]="['edit-personalize-order','edit-personalize-product']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/personalize.svg"> Personalize </h3>
                    <p>The admin can configure the display of the product list and order list in this section.</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <!-- <div class="settings-col">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/policy.svg"> Policy </h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div> -->
            <div class="settings-col" [routerLink]="['/settings/site-settings']" [appHideIfUnauthorized]="" [multipleHide]="['settings-site-seo','settings-site-social','settings-site-variant','filter-list']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/img/settings.svg"> Site Settings </h3>
                    <p>In this section, the admin can create and maintain a master list of different aspects that will be required for an...</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

            <div class="settings-col" [routerLink]="['/settings/order-fullfillment']">
                <a href="javascript:void(0)">
                    <h3> <img src="assets/images/graphs-1.svg"> Order Full-Fillment Status </h3>
                    <p>In this section, the admin can create and maintain a master list of different aspects that will be required for an...</p>
                    <div class="flex set-col-btm"> <button> Change settings <img src="assets/img/icon-arrow-back-blue-sm.svg"> </button> </div>
                </a>
            </div>

        </div>

    </div>




</div>




<router-outlet></router-outlet>