<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>In this section, the can manage and maintain the subject and content of the email templates that will be used for sending notifications to Vendor, Customers and Admin themselves, in different instances. </p>
</div>


<div class="setup-wrapper set-loc-wrapper">

    <div class="setup-container localization-container">
        <div class="card ap-general ap-info">
            <div class="flex ap-body">
                <ngb-tabset style="width:100%;">
                    <ngb-tab>
                        <ng-template ngbTabContent style="display: flex !important;">
                            <div class="localize-header flex">
                                <div class="loc-hdr-lft">
                                    <!-- <p>Showing <span> 0 - 10 </span> results</p> -->
                                    <div class="input-group">
                                        <p>{{'Settings.Local.Resultsperpage' | translate}}</p>
                                        <div class="select">
                                            <select [(ngModel)]="pageSize" (change)="getemailtempList()">
                                                <option *ngIf="pageSize!== '10' && pageSize!== '20' && pageSize!== '30'" value="{{pageSize}}">{{pageSize}}</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option> 
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="setup-right">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="" scope="col">
                                                    {{'Settings.Local.Emailtemplate.Title' | translate}}</th>
                                                <th scope="col">{{'Settings.Local.Emailtemplate.Subject' | translate}}
                                                </th>
                                                <th style="width: 466px;" scope="col">{{'Settings.Local.Emailtemplate.Content' | translate}}
                                                </th>
                                                <th scope="col">{{'Settings.Local.Emailtemplate.Status' | translate}}
                                                </th>
                                                <th scope="col" class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-email-template','delete-email-template']">
                                                    {{'Settings.Local.Emailtemplate.Action' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let emailtemp of sandbox.emailTempList$ | async; let i=index">
                                                <td class="" scope="row">{{emailtemp.title}}</td>
                                                <td>{{emailtemp.subject}}</td>
                                                <td style="width: 466px;" [innerHtml]='emailtemp.content'></td>
                                                <td>

                                                    <div *ngIf="emailtemp.isActive == 1">
                                                        {{'Settings.Local.Emailtemplate.Enabled' | translate}}
                                                    </div>
                                                    <div *ngIf="emailtemp.isActive == 0">
                                                        {{'Settings.Local.Emailtemplate.Disabled' | translate}}
                                                    </div>
                                                </td>
                                                <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-email-template','delete-email-template']">
                                                    <div class="dropdown" ngbDropdown>
                                                        <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle> </i>
                                                        <div ngbDropdownMenu class="dropdown-menu">
                                                            <a [appHideIfUnauthorized]="'edit-email-template'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="editEmailtemp(emailtemp)"> <img src="assets/img/edit.png" alt="edit" /> {{'Settings.Local.Edit' | translate}} </a>
                                                            <a [appHideIfUnauthorized]="'delete-email-template'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deleteEmailtemp(emailtemp.emailTemplateId)"> <img src="assets/img/delete-new.png" alt="delete"> {{'Settings.Local.Delete' | translate}} </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="sandbox.emailTempPagination$ | async" [pageSize]="pageSize" (page)="onPageChange($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--country-->

                    <!--zone-->
                </ngb-tabset>
            </div>
        </div>
    </div>

</div>