.cart-items-count{
  position: absolute;
  top: -3px;
  left: 26px;
  background: #f44336;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  font-size: 11px;
}
.navcart {
  margin-left: -113px;
}
.flex-row-button{
  margin-left: 6%;
}