/* LOGIN VALIDATION*/

.validationcolor {
    border-color: red;
}

.error {
    color: red;
}


/* LOGIN VALIDATION*/


/* .validationcolor {
    border-color: red;

}
.error {
    color: red;
} */

.form-control {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000 !important;
    height: 53px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    margin-bottom: 8%;
}

.card-align {
    margin-top: 23%;
}

.cards {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    padding: 3% 5%;
    .admin {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #264151;
        margin-bottom: 7%;
    }
    .btn-log {
        height: 53px;
        background-color: #264151;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        width: 100%;
        margin: 5% 0% 3%;
    }
    .forgot {
        font-family: Roboto;
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #514c4c;
        text-decoration: underline;
        text-align: right;
        margin: 3% 0% 5%;
    }
}