<div class="card-align">
    <div class="cards">
        <form (ngSubmit)="onSubmits($event, forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
            <div class="admin">Forgot Password</div>
            <input type="text" class="form-control placeholder-fix" placeholder="Email" formControlName="email" [ngClass]="{'validationcolor':forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').touched)&&ifSubmitted==true}">
            <div class="error" *ngIf="(forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true ">
                Email required
            </div>

            <div class="error" *ngIf="(forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true">
                Incorrect email
            </div>
            <button class="btn btn-log">Submit <span [hidden]="!(authSandbox.forgotpasswordLoading$ | async)"
                class="spinner-border spinner-border-sm pull-right" role="status"
                aria-hidden="true"></span></button>
            <div class="forgot" [routerLink]="['/auth/login']">Back to Login</div>
        </form>
    </div>
</div>