<!DOCTYPE html>
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        body {font-family: 'Poppins', sans-serif;background: #eff1f3; }
        p {margin: 0px; }
        * { box-sizing: border-box; }
    </style>
</head>

<body>
    <div  style="max-width: 900px; width: 100%; margin: 2% auto 0px; background: #eff1f3; height: auto; padding: 23px;">

        <div class="main-tbl" style="background: #fff; padding: 34px; border-radius: 9px;">  

            <table style="width: 100%;">
                <tr>
                    <%- emailContent %>
                    <td valign="top">
                        <img src="/api/media/image-resize/?width=300&height=500&path=<%=logo.emailLogoPath%>&name=<%=logo.emailLogo%>">
                    </td>
                </tr>
            </table>

        </div>

    </div>
</body>

</html>


