<div class="auth-wrapper">
    <div class="auth-box on-sidebar">
        <div class="changePswform">
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form novalidate (ngSubmit)="onSubmit(changePassword.value)" [formGroup]="changePassword" class="form-horizontal m-t-20">

                        <h3>Change Password</h3>
                        <div class="input-group mb-4">
                            <input [(ngModel)]="oldPSW" required minlength="5" type="password" formControlName="oldPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.oldPSW.errors }" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
                            <div *ngIf="submitted && f.oldPSW.errors" class="invalid-feedback">
                                (minimum 5 characters).
                                <div *ngIf="f.oldPSW.errors.required">Current Password is required
                                </div>
                            </div>

                        </div>
                        <div class="input-group mb-4">
                            <input [(ngModel)]="newPSW" required minlength="5" type="password" formControlName="newPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.newPSW.errors }" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
                            <div *ngIf="submitted && f.newPSW.errors" class="invalid-feedback">
                                (minimum 5 characters).
                                <div *ngIf="f.newPSW.errors.required">New Password is required
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <input [(ngModel)]="confirmPSW" required minlength="5" type="password" formControlName="confirmPSW" class="form-control form-control-md" [ngClass]="{ 'is-invalid': submitted && f.confirmPSW.errors }" placeholder="Confirm Password" aria-label="Confirm Password"
                                aria-describedby="basic-addon2">
                            <div *ngIf="submitted && f.confirmPSW.errors" class="invalid-feedback">
                                (minimum 5 characters).
                                <div *ngIf="f.confirmPSW.errors.required">Confirm Password is required

                                </div>
                                <div *ngIf="f.confirmPSW.errors.mismatchedPasswords">New Password and Confirm password should Match </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox">

                                </div>
                            </div>
                            <div class="col-md-6 p-b-20">
                                <button class="btn btn-info  float-left" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                                    Cancel
                                </button>
                                <button class="btn btn-block btn-info  float-right" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>