.filter-sidenav{
    width: 280px;
    border: 0 !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
    }
}
.del{
    color: grey;
}
.filter-row{
    background: #fff;
    padding: 8px 12px;
}
.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
   
    margin: 8px -8px;
    .col{ 
        // height: 300px;
        // width: 200px;
        padding: 8px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    .mat-slider-horizontal{
        min-width: 110px;
    }
}

.filter-brands{
    button{
        width: 66px;
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
            height: 44px;
        }
    }
}
.wrapper {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.card-hover{
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    &:hover{
    -webkit-transform: translateY(-4px) scale(1.01);
    -moz-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -o-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.05);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.1);
    box-shadow: 0 14px 24px rgba(62,57,107,.1);
    }
    }