<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        <app-spurt-product-filter (progressEmit)="receiveProgress($event)" [isClickedData]="isClicked" [brandId]="brand" [category]="categoryId">
        </app-spurt-product-filter>
    </mat-sidenav>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div>
                <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                    {{sortData}}
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>

                <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="sortMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                            <span>{{sort.order}}</span>
                    </button>
                    </span>
                </mat-menu>
            </div>
            <div>
                <button mat-icon-button (click)="changeViewType('list', 100)">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 25)">
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
        </div>
        <div class="wrapper" *ngIf="listSandbox.productLoading$ | async">
            <div class="overlay">
                <div class="spinner-wrapper">
                    <app-spinner [isShow]="listSandbox.productLoading$ | async"></app-spinner>
                </div>
            </div>
        </div>
        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">

            <div *ngFor="let product of (listSandbox.productlist$ | async)" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center card-hover">
                    <a [routerLink]="['/products/productdetails', product.productId]" class="image-link">
                        <img *ngIf="product['Images'].defaultImage == 1" style="height:200px" [src]="imagePath+ '?path=' + product['Images'].containerName + '&name=' + product['Images'].image + '&width=260&height=260'" onError="this.src='/assets/images/default_image.png';">
                    </a>
                    <!-- <h4 class="category text-muted text-truncate ">{{product.metaTagTitle }}</h4> -->
                    <a [routerLink]="['/products/productdetails', product.productId]" class="title text-truncate">
                        {{product.name}}
                    </a>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center start">
                            <p class="new-price">
                                $ {{product.price}}
                            </p>
                        </div>
                    </div>
                    <div class="divider mt-2"></div>
                    <div class="icons">
                        <app-controls [product]="product" [type]="'all'" (OpenProductDialog)="openProductDialog(product)"></app-controls>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of (listSandbox.productlist$ | async) | paginate: { itemsPerPage: count, currentPage: page }" fxFlex="100" class="col">
                <mat-card class="product-item" style="height:90%">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <a [routerLink]="['/products/productdetails', product.productId]" class="image-link">
                                <img *ngIf="product.Images" [src]="imagePath + '?path=' + product.Images.containerName + '&name=' + product.Images.image + '&width=280&height=280'" onError="this.src='/assets/images/default_image.png';">
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted"></h4>
                            <a [routerLink]="['/products/productdetails', product.productId]" class="title">
                                {{product.name}}
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="new-price">
                                        $ {{product.price}}
                                    </p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product" [type]="'all'" (OpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div *ngIf="(listSandbox.productLoaded$ | async) && (listSandbox.productlist$ | async)?.length == 0" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="90" class="p-2">
                <p style="margin-left: 50%;margin-top:10%;color:gray">No Results Found</p>
            </div>
        </div>
        <div *ngIf="(listSandbox.productlist$ | async)?.length > 0" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
                    <mat-paginator [length]="listSandbox.productcount$|async" [pageSize]="pagesize" [pageIndex]="index" [pageSizeOptions]="[10,15,20]" (page)="onPageChange($event)">
                    </mat-paginator>
                    <!--<pagination-controls class="product-pagination" autoHide="false" maxSize="5"-->
                    <!--(pageChange)="onPageChanged($event)"></pagination-controls>-->
                </mat-card>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>