<div class="dashboard-wrapper">

    <div class="dash-topper flex">
        <div class="dast-col">
            <div class="dastc-top flex">
                <h4>{{'Dashboard.totalRevenue'| translate}}</h4>
                <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="totalRevenues" (change)="totalRevenue()">
                    <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                    <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                    <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                    <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                </ng-select>
            </div>
            <p></p>
            <div class="flex dastc-vtm">
                <span class="dastcbtm-ig"> <img src="assets/img/total-revenue.png" alt=""> </span>
                <h2>{{((dashboardSandbox.totalRevenue$ | async).toString())
                    < 0 ? ((dashboardSandbox.totalRevenue$ | async).toString())*-1 :((dashboardSandbox.totalRevenue$ | async).toString()) | number : '1.0-0'}}</h2>
            </div>
        </div>
        <div class="dast-col">
            <div class="dastc-top flex">
                <h4>{{'Dashboard.totalOrders'| translate}} </h4>
                <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" (change)="totalOrders()" [(ngModel)]="totalorderscount">
                    <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                    <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                    <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                    <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                </ng-select>
            </div>
            <div class="flex dastc-vtm">
                <span class="dastcbtm-ig"> <img src="assets/img/total-orders.png" alt=""> </span>
                <h2>{{(dashboardSandbox.totalOrders$ | async)?.ordersCount}}</h2>
            </div>
        </div>
        <div class="dast-col">
            <div class="dastc-top flex">
                <h4>{{'Dashboard.newCustomers'| translate}}</h4>
                <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="newcustomerscount" (change)="newCustomers()">
                    <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                    <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                    <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                    <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                </ng-select>
            </div>
            <div class="flex dastc-vtm">
                <span class="dastcbtm-ig"> <img src="assets/img/new-customers.png" alt=""> </span>
                <h2>{{(dashboardSandbox.newCustomers$ | async)}}</h2>
            </div>
        </div>
        <div class="dast-col">
            <div class="dastc-top flex">
                <h4 style="margin-top: 8px;">{{'Dashboard.totalCustomers'| translate}}</h4>
            </div>
            <div class="flex dastc-vtm" style="margin-top: 23px;">
                <span class="dastcbtm-ig"> <img src="assets/img/total-customers.png" alt=""> </span>
                <h2>{{(dashboardSandbox.dashboardCount$ | async).customers}}</h2>
            </div>
        </div>
    </div>

    <div class="dashboard-main flex">

        <div class="dm-lft">
            <div class="dml-top flex">
                <div class="dmlt-roe flex">
                    <div class="dmlt-lft-img"><img src="assets/img/top-performing.png" alt=""></div>
                    <div class="dmlt-lft-cont">
                        <h3>{{'Dashboard.TopPerformingProducts'| translate}}</h3>
                        <h4>{{(dashboardSandbox.getTopSellingProductListCount$ | async) }} {{'Dashboard.products'| translate}}</h4>

                    </div>


                    <ng-select style="margin-left: 7px;" name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="topProducts" (change)="getTopSellingProductList()">
                        <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                        <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                        <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                        <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                    </ng-select>
                </div>
                <!-- row -->
                <div class="dmlt-prd-list">
                    <div class="dmltprdlist-row flex" *ngFor="let topSellingProducts of dashboardSandbox.topSellingProducts$ | async">
                        <div class="dmltprdlist-lft flex">
                            <div class="dmltprdlist-lft-img">
                                <!-- <img src="assets/img/product-img2.png" alt=""> -->
                                <img *ngIf="topSellingProducts" [src]="imageURL + '?path=' + topSellingProducts.containerName + '&name=' + topSellingProducts.image +'&width=40&height=40'" onError="this.src='assets/error-images/Load-icon-Products.png';" [alt]="topSellingProducts.productName"
                                    (load)="topSellingImageLoading(topSellingProducts.productId)" [hidden]="!topSellingImage[topSellingProducts.productId]">
                                <img src="./assets/error-images/Load-icon-Products.png" alt="error-img" [hidden]="topSellingImage[topSellingProducts.productId]">
                            </div>
                            <div class="dmltprdlist-lft-cont">
                                <h3>{{topSellingProducts.productName | slice:0:51}}
                                    <span style="margin-left: -2px" *ngIf="topSellingProducts.productName?.length > 51">...</span>
                                </h3>
                            </div>
                        </div>
                        <h2>{{topSellingProducts.topPerformingProductCount}} {{'Dashboard.nos'| translate}}</h2>
                    </div>
                    <h2 *ngIf="(dashboardSandbox.getTopSellingProductListCount$ | async)===0" style="font-size: 16px;width: 139px;margin: auto;margin-top: 31%;">{{'marketplace.product.NoProductsfound'| translate}}</h2>
                    <!-- row -->
                </div>
                <!-- list -->
            </div>
            <!-- top -->
            <div class="dml-btm">
                <h3>{{'Dashboard.repeatedCustomers'| translate}} </h3>
                <div class="dml-btm-row flex">
                    <div class="dml-btm-col flex" *ngFor="let visitorList of dashboardSandbox.recentVisitorList$ | async">
                        <div class="dmlbtmc-img">
                            <!-- <img src="assets/img/photo-profile.png" alt=""> -->
                            <img style="border-radius: 50%;width:24px;height:24px" [src]="imageURL + '?path=' + visitorList.avatarPath + '&name=' + visitorList.avatar +'&width=50&height=50'" onError="this.src='assets/error-images/Load-icon-Products.png';">
                            <span>{{visitorList.orderCount}}</span> </div>
                        <div class="dmlbtmc-content">
                            <h4 style="overflow: hidden;">{{visitorList.firstName}}</h4>
                            <p>{{visitorList.paymentCity}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btm -->
        </div>
        <!-- lft -->

        <div class="dm-rht">
            <div class="dmr-top flex">
                <div class="dmrt-col">
                    <h4>{{'catalog.categories.TotalProduct'| translate}}</h4>
                    <div class="flex dmrtc-rw">
                        <h2>{{(dashboardSandbox.dashboardCount$ | async).products}}</h2>
                    </div>
                </div>
                <!-- col -->
                <div class="dmrt-col">
                    <h4>{{'Dashboard.averageorderValue'| translate}}</h4>
                    <div class="flex dmrtc-rw">
                        <!-- <h2>${{data.orderAverageValue}}</h2> -->
                        <!-- <h2>${{(dashboardSandbox.averageOrderValue$ | async)
                            < 0 ? (dashboardSandbox.averageOrderValue$ | async)*-1 : (dashboardSandbox.averageOrderValue$ | async)}}</h2> -->
                        <h2>{{(dashboardSandbox.averageOrderValue$ | async) | currencysymbol: (layoutSandbox.settings$ | async) }}</h2>
                        <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" (change)="averageOrderValue()" [(ngModel)]="averagevalue">
                            <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                            <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                            <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                            <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <!-- col -->
                <div class="dmrt-col">
                    <h4>{{'Dashboard.averageConversionRatio'| translate}}</h4>
                    <div class="flex dmrtc-rw">
                        <h2>{{(dashboardSandbox.averageConversionRatio$ | async)}}%</h2>
                        <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="averageConvertionRatios" (change)="averageConversionRatio()">
                            <ng-option value="1">{{'Dashboard.today'| translate}}</ng-option>
                            <ng-option value="2">{{'Dashboard.thisWeek'| translate}}</ng-option>
                            <ng-option value="3">{{'Dashboard.thisMonth'| translate}}</ng-option>
                            <ng-option value="4">{{'Dashboard.thisYear'| translate}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- top -->
            <div class="dmr-btm flex">

                <div class="dmr-btm-lft">
                    <div class="tabset">
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
                        <label for="tab1">{{'Sales.Orders.Sales'| translate}}</label>
                        <!-- Tab 2 -->
                        <input type="radio" (click)="getSalesOrderList()" name="tabset" id="tab2" aria-controls="rauchbier">
                        <label for="tab2">{{'Dashboard.customerVisits'| translate}}</label>
                        <!-- Tab 4 -->
                        <input type="radio" name="tabset" id="tab4" aria-controls="sales">
                        <label for="tab4">{{'Dashboard.10weeklySales'| translate}}</label>

                        <div class="tab-panels">
                            <section id="marzen" class="tab-panel">
                                <div class="dmrbtop flex">
                                    <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="salesgraphyear" (change)="salesgraph()">
                                        <ng-option value="{{yearr.Values}}" *ngFor="let yearr of year">{{yearr.name}}</ng-option>
                                    </ng-select>
                                    <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="salesgraphmonth" (change)="salesgraph()">
                                        <ng-option value="{{months.Values}}" *ngFor="let months of month">{{months.name}}</ng-option>
                                    </ng-select>
                                </div>
                                <plotly-plot *ngIf="(dashboardSandbox.salesgraph$ | async).length> 0 && (dashboardSandbox.salesgraphLoaded$ | async)" [config]="salesconfig" [data]="salesdata" [layout]="saleslayout"></plotly-plot>
                                <p class="no-data" *ngIf="(dashboardSandbox.salesgraph$ | async).length== 0 && (dashboardSandbox.salesgraphLoaded$ | async)">{{'Dashboard.NoDatafound'| translate}}</p>
                            </section>
                            <section id="rauchbier" class="tab-panel">
                                <div class="dmrbtop flex">
                                    <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="customersVisityear" (change)="getSalesOrderList()">
                                        <ng-option value="{{yearr.Values}}" *ngFor="let yearr of year">{{yearr.name}}</ng-option>
                                    </ng-select>
                                    <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="customersVisitmonth" (change)="getSalesOrderList()">
                                        <ng-option value="{{months.Values}}" *ngFor="let months of month">{{months.name}}</ng-option>
                                    </ng-select>
                                </div>
                                <plotly-plot *ngIf="(dashboardSandbox.salesOrderList$ | async).length> 0 && (dashboardSandbox.salesOrderListLoaded$ | async)" [config]="config" [data]="data" [layout]="layout"></plotly-plot>

                                <p class="no-data" *ngIf="(dashboardSandbox.salesOrderList$ | async).length === 0 && (dashboardSandbox.salesOrderListLoaded$ | async)">{{'Dashboard.NoMonthlysalesfound'| translate}}</p>
                            </section>
                            <section id="sales" class="tab-panel dmrb-sales">
                                <div class="rad-chart">
                                    <div class="rad-chart-left">
                                        <p class="checkbox-data" style="display: flex;" *ngFor="let item of top10weeklyproductlist;let i=index">
                                            <input type="checkbox" [(ngModel)]="item.checked" (change)="checkboxweekly($event,item,i)" style="cursor: pointer; position: relative; top: 7px;">
                                            <span class="product-name" ngbTooltip="{{item.productName}}" placement="top-left">{{item.productName}}
                                            <!-- <span style="margin-left: -2px" *ngIf="item.productName?.length > 15">...</span> -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="rad-chart-right">
                                        <canvas *ngIf="top10weeklyproductlist.length > 0" baseChart [datasets]="toptenweeklysalesdata" [labels]="demoradarChartLabels" [chartType]="radarChartType" [options]="optionsradar" [legend]="false" width="300" height="300"></canvas></div>
                                </div>
                                <div class="no-data" *ngIf="top10weeklyproductlist.length === 0">No Data Found</div>
                            </section>
                        </div>

                    </div>
                </div>
                <!-- lft -->

                <div class="dmr-btm-rht">
                    <div class="dmrbtop flex">
                        <h3>{{'Dashboard.transaction'| translate}}</h3>
                        <ng-select name="" id="" class="ng-sel-width" [searchable]="false" [clearable]="false" [(ngModel)]="transactionlistyear" (change)="transactionValues()">
                            <ng-option value="{{yearr.Values}}" *ngFor="let yearr of year">{{yearr.name}}</ng-option>
                        </ng-select>
                    </div>
                    <plotly-plot *ngIf="(dashboardSandbox.transactionValues$ | async).length> 0 && (dashboardSandbox.transactionValuesLoaded$ | async)" [data]="data1" [layout]="layout1" [config]="config1"></plotly-plot>
                    <p class="no-data" *ngIf="(dashboardSandbox.transactionValues$ | async).length== 0 && (dashboardSandbox.transactionValuesLoaded$ | async)">{{'Dashboard.NoDatafound'| translate}}</p>
                </div>
                <!-- lft -->

            </div>
            <!-- tab -->
        </div>
        <!-- rht -->

    </div>

</div>