<div class="modal-content">
    <div class="modal-header flex">
        <h5 class="mod-title">{{ 'catalog.product.Question:' | translate }}{{questionList.question}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                  </button>
    </div>

    <div class="table-responsive pre-adm-tbl">

        <table class="table">
            <tbody *ngFor="let list of sandbox.answerList$ | async">
                <tr>
                    <td>{{ 'catalog.product.Answer:' | translate }}</td>
                    <td width="80%">{{list.answer}}
                        <div class="post-by">by {{list.postedBy.firstName}} {{list.createdDate | date: "dd MMM yyyy"}}</div>
                    </td>
                    <td width="20%" class="btn-action">
                        <i [ngbPopover]="deleteContent" placement="left" #deletePop="ngbPopover" style="margin-left: -2px; cursor: pointer" class="fas fa-trash globe_icon" [appHideIfUnauthorized]="'delete-product-answer'">
                    <ng-template #deleteContent>
                      <div class="style">
                        <div class="modal-header">
                          <h6 class="modal-title" style="margin-left: 17%;">
                            {{ 'catalog.product.DoYouWantToDelete' | translate }}
                          </h6>
                        </div>
    
                        <div class="modal-footer" style="margin-right: 23%;">
                          <button
                            type="button"
                            class="btn btn-danger"
                            (click)="deletePop.close()"
                            data-dismiss="modal"
                          >
                            {{ 'catalog.product.No' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-success"
                            (click)="deleteAnswer(list.answerId)"
                            data-dismiss="modal"
                          >
                            {{ 'catalog.product.Yes' | translate }}
                          </button>
                        </div>
                      </div> 
                    </ng-template>
                  </i>
                        <span [appHideIfUnauthorized]="'update-product-answer'">  
                            <label class="switch">
                                <input type="checkbox" [checked]="list.isActive === 1" (change)="changeStatus($event.target.checked, list.answerId)">
                                <span class="slider toggle-slide"></span>
                        </label>
                        </span>

                        <span class="center" [appHideIfUnauthorized]="'update-product-status'">
                          <svg [ngClass]="defaultAnswer == list.answerId || list.defaultAnswer == 1 ? 'checkmark': ''" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" 
                         (click)="makeDefault(list)"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </span>

                    </td>
                </tr>
            </tbody>

        </table>
        <div class="txt-area" [appHideIfUnauthorized]="'create-product-answer'">
            <p>{{ 'catalog.product.PostYourAnswer' | translate }}</p>
            <textarea [(ngModel)]="textValue" name="textValue" class="form-control"></textarea>
            <div class="error-msg" *ngIf="error && textValue?.length<=0
            ">{{ 'catalog.product.Answerisrequired' | translate }}</div>
            <button (click)="submit()">{{ 'catalog.product.Post' | translate }}</button>
        </div>


    </div>
</div>