
.modal-content {
  border-radius: 0;
  .modal-header {
      justify-content: space-between;
      align-items: center;
      padding: 26px 30px 26px;

      .mod-title {
          font-size: 17px;
          font-weight: bold;
          color: #df1a1a;
          padding: 0px 10px 0px;

      }
      .close {
          width: 50px;
          font-size: 33px;
          opacity: 0.4;
          outline: none;
      }
  }
  .modal-body {
      padding: 20px 40px;
      &.play-modal {
          text-align: center;
          padding: 20px 20px 100px;
      }
  }
}

.modal-body {
  .search-exp {
      justify-content: space-between;
  }
  .pre-adm-tbl {
      table {
          tbody {
              background-color: #fbfbfb;
              tr {
                  td {
                      background: transparent;
                  }
              }
          }
      }
  }
}



// toggle css

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
  margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -8px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border: 1px solid #fde0d5;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border: 1px solid #fde0d5;
}
input:checked + .slider {
  background-color: #f2086d;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #f2086d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.toggle-slide {
  border-radius: 34px;
}

.slider.toggle-slide:before {
  border-radius: 50%;
}
.btn-action {
  text-align: center;
}
.globe_icon {
    padding: 13px;
}
.breadcrumbs-row {
    border-bottom: none !important;
    padding-right: 50px !important;
    padding-bottom: 30px !important;
}




.qna {
  h2 {
      font-size: 20px;
      font-weight: 500;
      color: #222;
  }
  .search-button {
      border-left: solid 1px #dfdfdf;
      button {
          border: 0;
          background: transparent;
          color: #acacac;
          cursor: pointer;
          mat-icon {
              font-size: 30px;
              font-weight: bold;
          }
          &:hover,&:focus {
              outline: none;
              box-shadow: none;
              border: 0;
          }
      }
  }
}
.qna-row {
  border-bottom: 1px solid #e8dfdf;
  .qna-col {
      width: 100%;
      padding-right: 20px;
      .qna-que {
          font-size: 15px;
          font-weight: 500;
          color: #131413;
          padding-bottom: 10px;
          span {
              color: #6e6e6e;
              width: 100px;
          }
          .qna-que-que {
              width:calc(100% - 100px);
              padding-left: 10px;
          }
      }
      .qna-ans {
          span {
              color: #6e6e6e;
              width: 100px;
              font-size: 15px;
              font-weight: 500;
          }
          .qna-ans-rht {
              width:calc(100% - 320px);
              padding-left: 10px;
              h4 {
                  font-size: 15px;
                  font-weight: normal;
                  color: #222222;
              }
              p {
                  margin-top: 15px;
                  font-size: 13px;
                  font-weight: normal;
                  color: #a3a3a3;
              }
          }
      }
  }
  .qna-rht {
      width: 260px;
      .like-col {
          font-size: 13px;
          font-weight: 500;
          color: #8d8d8d;
          mat-icon {
              font-size: 24px;
              font-weight: bold;
              color: #acacac;
              margin-right: 10px;
          }
      }
      a {
          font-size: 13px;
          font-weight: normal;
          color: #1155ae;
          border-left: solid thin #d5d5d5;
          padding-left: 10px;
      }
  }
}
.vaq {
  a {
      font-size: 16px;
      font-weight: bold;
      color: #2b77f7;
      text-decoration: none;
  }
}


/* make sidebar nav vertical */

@media (min-width: 992px) {}

@media (max-width: 992px) {}

@media (min-width: 900px) and (max-width: 1100px) {
  .vh-info .vhi-col ul li {
      width: 100%;
      text-align: center;
      &:last-child {
          width: 100%;
          text-align: center;
      }
  }
}
.loader-position {
  position: absolute;
  left: 42%;
  top: 50%;
}

.modal-content {
  background-color: white !important;
  border: none !important;
  height: 450px !important;
}
.txt-area {
border-top:none !important;
width: 100%;
    padding: 10px;
    margin: 10px auto;
p {
  width: 100%;
}
.txt-area-td:last-child{
  border-top: none;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background: red;
  border: none;
  color: white;
  float: right;
  margin: 10px;
}
}
textarea {
  width: 100%;
  border: 1px solid #e0dfdf;
  resize: none;
  height: 65px;
  padding: 5px;

}
img {
  width: 18px;

}
.error-msg {
  color: red;
  padding-right: 375px;

}

// check box css

svg {
  width: 25px;
  cursor: pointer;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #f2086d;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke: #f2086d;
  stroke-miterlimit: 10;

  -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.post-by {
  color: #bfbcbc;
  font-weight: 500;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #fff;
  }
}
