.avatar {
    vertical-align: middle;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50%;
}

.products-section {
    margin-top: 63px !important;
}

.breadcrumbs-row {
    margin-top: -57px !important;
}

.btn {
    background: #0fae61 !important;
}


.viewcustomer-wrap .view-customer .vc-header .vch-detail {
    width: calc(100% - 0px);
    padding-left: 20px;
}

.view-prod-img {
    width: 35px;
}

.no-data {
    min-height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 45px;
}
