<div class="subtoolbar catalogtoolbar">
    <div class="sub-nav-menu">
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'catalog-product'" [routerLink]="['/catalog/product']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/catalog/cat-product.svg" alt="product"><img src="assets/img/header-icons/catalog/cat-product-on.svg" alt="product"></span> {{'catalog.nav.Product'| translate}}
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'catalog-category'" [routerLink]="['/catalog/categories']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/catalog/cat-categories.svg" alt="catagories"><img src="assets/img/header-icons/catalog/cat-categories-on.svg" alt="catagories"></span> {{'catalog.nav.Categories'| translate}}
        </a>
        <a href="javascript:void(0)" [routerLink]=" ['/catalog/brand']" [appHideIfUnauthorized]="'catalog-brand'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/catalog/cat-brand.svg" alt="brands"><img src="assets/img/header-icons/catalog/cat-brand-on.svg" alt="brand"></span> {{'catalog.nav.Brand'| translate}}
        </a>
       
    </div>
</div>