<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>In this section, the admin can create and maintain the master list of different order status – say for example, order confirmed, out for delivery and so on. </p>
</div>

<div class="setup-wrapper set-loc-wrapper">
    <div class="setup-container localization-container">
        <div class="card ap-general ap-info">
            <div class="flex ap-body">
                <ngb-tabset style="width:100%;">
                    <ngb-tab>
                        <ng-template ngbTabContent style="display: flex !important;">

                            <div class="localize-header flex">
                                <div class="loc-hdr-lft">
                                    <!-- <p>Showing <span> 0 - 10 </span> results</p> -->
                                    <div class="input-group">
                                        <p>{{'Settings.Local.Resultsperpage' | translate}}</p>
                                        <div class="select">
                                            <select [(ngModel)]="pageSize" (change)="orderStatusList()">
                                                <option *ngIf="pageSize!== '10' && pageSize!== '20' && pageSize!== '30'" value="{{pageSize}}">{{pageSize}}</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button style="width: 164px !important;" class="set-ad-btn" (click)="addOrderStatus('','add')" [appHideIfUnauthorized]="'create-order-status'"><img
                                        src="assets/img/add-white-ico.png" alt="add">{{'Settings.Local.Orderstatus.AddOrderStatus'
                                    | translate}}
                                </button>
                            </div>
                            <div class="setup-right">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{{'Settings.Local.Orderstatus.OrderStatusName' | translate}}</th>
                                                <th>{{'Settings.Local.Orderstatus.Status' | translate}}</th>
                                                <th class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-order-status','delete-order-status']">
                                                    {{'Settings.Local.Orderstatus.Action' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Orderstatuslist of Sandbox.getOrderstatuslist$ | async; let i=index">


                                                <td class="ord-stat-td"><span style="padding:5px;background:#00b259;" [ngStyle]="{'color':'white', 'background':Orderstatuslist.colorCode}">
                                                    </span> {{Orderstatuslist.name}}</td>
                                                <td>
                                                    <div *ngIf="Orderstatuslist.isActive === 1">
                                                        {{'Settings.Local.Orderstatus.Active' | translate}}
                                                    </div>
                                                    <div *ngIf="Orderstatuslist.isActive === 0">
                                                        {{'Settings.Local.Orderstatus.InActive' | translate}}
                                                    </div>
                                                </td>
                                                <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-order-status','delete-order-status']">
                                                    <div class="dropdown" ngbDropdown>
                                                        <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle> </i>
                                                        <div ngbDropdownMenu class="dropdown-menu">
                                                            <a [appHideIfUnauthorized]="'edit-order-status'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="addOrderStatus(Orderstatuslist,'edit')"> <img src="assets/img/edit.png" alt="edit" /> {{'Settings.Local.Edit' | translate}} </a>
                                                            <a [appHideIfUnauthorized]="'delete-order-status'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deleteStockStatus(Orderstatuslist.orderStatusId)"> <img src="assets/img/delete-new.png" alt="delete"> {{'Settings.Local.Delete' | translate}} </a>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="Sandbox.getOrderstatuspaginationcount$ | async" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--country-->

                    <!--zone-->
                </ngb-tabset>
            </div>
        </div>
    </div>

</div>