<div class="flex setting2-inner-header">
    <h3> Settings > Site Settings > Social </h3>

</div>
<div class="settings-right-wrapper addnewuser">

    <div class="new-user">
        <form (ngSubmit)="onSubmit()" [formGroup]="socialForm" class="form-horizontal m-t-20">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" placeholder="Facebook Link'" formControlName="Facebook" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>Google</label>
                        <input type="text" formControlName="Google" class="form-control" placeholder="Google Link">

                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>Twitter
                
                        </label>
                        <input type="text" class="form-control" formControlName="Twitter" placeholder="Twitter Link">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>Instagram</label>
                        <input type="text" class="form-control" formControlName="Instagram" placeholder="Instagram Link">
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex user-btn">`
                        <button type="submit" class="btn btn-add">Save</button>
                        <button (click)="socialcancel()" class="btn btn-cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>