<div class="top-menu">
    <a mat-button [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger" class="blackStyle" *ngIf="(commonSandbox.getProfile$ | async)?.email">
        <mat-icon class="mat-icon-sm account-icon blackStyle">person</mat-icon>
        <span fxShow="false" fxShow.gt-sm class="blackStyle">Account</span>
        <mat-icon class="mat-icon-sm caret blackStyle">arrow_drop_down</mat-icon>
    </a>
    <a mat-button routerLink="/auth" *ngIf="!(commonSandbox.getProfile$ | async)?.email">
        <mat-icon routerLink="/auth" class="mat-icon-sm account-icon blackStyle">person</mat-icon>
        <span fxShow="false" fxShow.gt-sm class="blackStyle">Login/Register</span>
    </a>

    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown account">
        <span>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info"
                 *ngIf="(commonSandbox.getProfile$ | async)?.email">
                <img *ngIf='(commonSandbox.getProfile$ | async)?.avatarPath'
                     [src]="imagePath + '?path=' + (commonSandbox.getProfile$ | async)?.avatarPath + '&name=' + (commonSandbox.getProfile$ | async)?.avatar + '&width=60&height=60'"
                     alt="user-image" width="50">
                <img *ngIf='!(commonSandbox.getProfile$ | async)?.avatarPath' src="./assets/images/others/user.jpg"
                     alt="user-image" width="50">
                <p>{{(commonSandbox.getProfile$ | async)?.firstName}}<br> <small>{{(commonSandbox.getProfile$ | async)?.email}}
                </small></p>
            </div>
            <div class="divider"></div>
            <a mat-menu-item routerLink="/account/orders">
                <mat-icon class="mat-icon-sm"><mat-icon>description</mat-icon>
            </mat-icon>
                <span>Order History</span>
        </a>
        <a mat-menu-item routerLink="/account">
            <mat-icon class="mat-icon-sm">settings</mat-icon>
            <span>Account Settings</span>
        </a>
        <div class="divider"></div>
        <a mat-menu-item (click)="signOut()">
            <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
            <span>Sign Out</span>
        </a>
        </span>
    </mat-menu>
</div>