.brands-carousel {
    _background: white;
    position: relative;
    padding: 8px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    h3 {
        font-size: 20px;
        color: black;
        font-weight: 600;
        padding: 20px 0;
        width: 100%;
    }
    .swiper-container {
        padding: 8px 2px;
        margin: 0 14px;
        background: white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        .brand-item {
            cursor: pointer;
            height: 80px;
            padding: 16px;
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }
    .swiper-button-prev {
        left: -10px;
        border-radius: 4px;
        background: #cfcfcf;
    }
    .swiper-button-next {
        right: -10px;
        border-radius: 4px;
        background: #cfcfcf;
    }
}