<app-banner-layout></app-banner-layout>
<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"> CMS </a></li>
                    <li>Banners</li>
                </ul>
            </div>
            <div class="bc-col-btn">
                <button class="btn cms-btn" (click)="AddBanner()"><img
                        src="assets/img/add-white-ico.png">Add Banner
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <ul class="flex">
                    <li *ngIf="checkedData.length==0" style="margin-left: 15px;">
                        <a (click)="bulkDeleteEmpty()"><img src="assets/img/delete-ico-pink.png"> Delete
                        </a>
                    </li>
                    <li *ngIf="checkedData.length>0" style="margin-left: 15px;" [ngbPopover]="deleteContent1" placement="left" #deletePop="ngbPopover">
                        <a><img src="assets/img/delete-ico-pink.png"> Delete
                        </a>
                    </li>
                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap">
    <!--Filter-->
    <div class="product-table" style="width: 100%">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                </div>
                            </div>
                        </th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Link</th>
                        <th scope="col">Position</th>
                        <th scope="col" width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bannerInfo of sandbox.getbannerlist$ | async; let i=index">
                        <th scope="row" class="text-center">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" (click)="selectChkBox($event, bannerInfo.bannerId)" id={{bannerInfo.bannerId}} [checked]="checkCondition[bannerInfo.bannerId]" [ngModelOptions]="{standalone: true}" [(ngModel)]="checkmodules[bannerInfo.bannerId]">
                                    <label class="custom-control-label" for={{bannerInfo.bannerId}}></label>
                                </div>
                            </div>
                        </th>
                        <td> {{bannerInfo.title}}</td>
                        <td>
                            <img *ngIf="bannerInfo.image" [src]="imageUrl + '?path=' + bannerInfo.imagePath + '&name=' + bannerInfo.image + '&width=60&height=60'" onError="this.src='/assets/error-images/Load icon Products.png';" (load)="BannerListImageLoading(bannerInfo.bannerId)"
                                [hidden]="!bannerListImage[bannerInfo.bannerId]">
                            <img src="./assets/error-images/Load icon Products.png" [hidden]="bannerListImage[bannerInfo.bannerId]">
                        </td>
                        <td>{{bannerInfo.link}}
                        </td>
                        <td>{{bannerInfo.position}}</td>
                        <!--<td>{{bannerInfo.position}}</td>-->
                        <td>
                            <a (click)="editBanner(bannerInfo)" href="javascript:void(0)"> <img src="assets/img/edit-ico.png"> </a>

                            <i style="margin-left: 15px;" [ngbPopover]="deleteContent" placement="left" #deletePop="ngbPopover" class="fas fa-trash"></i>
                            <ng-template #deleteContent>
                                <div class="style">
                                    <div class="modal-header">
                                        <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>

                                    </div>

                                    <div class="modal-footer" style="margin-right: 23%;">
                                        <button type="button" class="btn btn-danger" (click)="deletePop.close()" data-dismiss="modal">No
                                    </button>
                                        <button type="button" class="btn btn-success" (click)="deleteBanner(bannerInfo.bannerId, deletePop)" data-dismiss="modal">
                                        Yes
                                    </button>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(sandbox.getbannerlist$ |async)?.length==0">
                <p>Items not found</p>
            </div>
            <div class="flex table-footer">
                <div class="view-rec">
                </div>
                <!--mat pagination-->
                <mat-paginator [length]="sandbox.getbannerpagelength$ | async" [pageSize]="pageSize" [pageIndex]="index" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
                </mat-paginator>
                <!-- pagination end here-->
            </div>
        </div>
    </div>
    <!--Table-->

</div>
<ng-template #deleteContent1>
    <div class="style">
        <div class="modal-header">
            <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>

        </div>

        <div class="modal-footer" style="margin-right: 23%;">
            <button type="button" class="btn btn-danger" (click)="deletePop.close()" data-dismiss="modal">No
                </button>
            <button type="button" class="btn btn-success" (click)="bulkDelete()" data-dismiss="modal">
                    Yes
                </button>
        </div>
    </div>
</ng-template>