<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"> Catalog </a></li>
                    <li> Categories</li>
                </ul>
            </div>
            <div class="bc-col-btn">
                <button class="btn" (click)="addCategories()"><img
                        src="assets/img/add-white-ico.png">Add Category
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>Filters</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" [checked]="true" (change)="changeFilter($event)" />
                    <label class="tgl-btn" for="cb1"></label>
                </div>
                <div class="order-status">
                    <p>Status</p>
                    <li style="list-style: none">
                        <span style="display: inline-block;width: 14px;height: 16px;margin-right: 6px;vertical-align: middle;background-color: #32b643;"></span>Active
                        <span style="display: inline-block;width: 14px;height: 16px;margin-left: 3px;margin-right: 7px;vertical-align: middle;background-color: #ea5738e6;"></span>In Active

                    </li>
                </div>
            </div>
            <!--Lft-->
        </div>
    </div>
</div>

<div class="flex product-wrap example-full-width">
    <div *ngIf="buttonCheck == true" class="filter-section">
        <div class="w3-container w3-animate-left">
            <app-spurt-catalog-categories-filter (progressEmit)="receiveProgress($event)">
            </app-spurt-catalog-categories-filter>
        </div>
    </div>
    <!--Filter-->
    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%">
                        </th>
                        <th scope="col" width="20%">Category Name</th>
                        <th scope="col">Sort Order</th>
                        <th scope="col">Action</th>
                        <th class="text-center" scope="col" width="100px" class="text-center">Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of categorySandbox.getCategoriesList$ | async;let i=index">
                        <th scope="row">
                        </th>
                        <td>{{data.name}}</td>
                        <td>{{data.sortOrder}}</td>
                        <td>
                            <a href="javascript:void(0)" (click)="editCategory(data)"> <img src="assets/img/edit-ico.png">
                            </a>
                            <i [ngbPopover]="deleteContent" placement="bottom" #deletePop="ngbPopover" style="margin-left: 15px;" class="fas fa-trash">
                            <ng-template #deleteContent>
                                <div class="style">
                                    <div class="modal-header">
                                        <h6 class="modal-title"
                                            style="margin-left: 17%;"> Do you want to delete ?</h6>
                                    </div>

                                    <div class="modal-footer" style="margin-right: 23%;">
                                        <button type="button" class="btn btn-danger" (click)="deletePop.close()"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                (click)="deleteCategory(data.categoryId)"
                                                data-dismiss="modal">Yes
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </i>
                        </td>
                        <td class="text-center">
                            <div *ngIf="data.isActive == 1">
                                <span style="width: 41px;background: #32b643; color: white;display: inline-block;padding: 1px 4px;"><b>Active</b></span>

                            </div>
                            <div *ngIf="data.isActive == 0">
                                <span style="background: #ea5738e6; color: white;width: 63px;display: inline-block;padding: 1px 4px;"><b>In-Active</b></span>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(categorySandbox.getCategoriesList$ | async)?.length==0">
                <p>Items not found</p>
            </div>
            <mat-paginator [length]="categorySandbox.getCategoriesListCount$ | async" [pageSize]="pageSize" [pageIndex]="index" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
    <!--Table-->
</div>
<ng-template #deleteContent>
    <div class="style">
        <div class="modal-header">
            <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>
        </div>
        <div class="modal-footer" style="margin-right: 23%;">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" (click)="deleteProduct($event)" data-dismiss="modal">Yes
            </button>
        </div>
    </div>
</ng-template>