<div class="flex setting2-inner-header">
    <h3> Settings > Localization > Stock Status </h3>
    <button class="btn" (click)="addStockStatus()"><img
            src="assets/img/add-white-ico.png"> Add Stock Status
    </button>
</div>
<div class="settings-right-wrapper">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Stock Status Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stocklist of (sandBox.getStockList$|async); let i=index">
                    <td>{{stocklist.name}}</td>
                    <td>
                        <div *ngIf="stocklist.isActive === 1">Active</div>
                        <div *ngIf="stocklist.isActive === 0">In-Active</div>
                    </td>

                    <td><i (click)="editStockStatus(stocklist)" class="fas fa-edit"></i> <i [ngbPopover]="deleteContent" placement="bottom" #deletePop="ngbPopover" style="margin-left: 15px;" class="fas fa-trash">
                    <ng-template #deleteContent>
                        <div class="style">
                            <div class="modal-header">
                                <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>

                            </div>

                            <div class="modal-footer" style="margin-right: 23%;">
                                <button type="button" class="btn btn-danger" (click)="deletePop.close()"
                                        data-dismiss="modal">No
                                </button>
                                <button type="button" class="btn btn-success"
                                        (click)="deleteStockStatus(stocklist.stockStatusId, deletePop)"
                                        data-dismiss="modal">Yes
                                </button>
                            </div>
                        </div>
                    </ng-template>

                </i></td>

                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [length]="(sandBox.getStockListCount$ | async)?.data" [pageSize]="pagesize" [pageSizeOptions]="[pagesize]" (page)="onPageChange($event)">
    </mat-paginator>
</div>