<mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Categories</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="categories-wrapper categories-dropdown" perfectScrollbar>
            <app-category-list [isClicked]="isClickedData" [categories]="listSandbox.categoryList$ | async" (change)="onChangeCategory($event)" [categoryId]="category"></app-category-list>

        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Price </h4>
                <i *ngIf="listSandbox.priceLoading$ | async" class="fa fa-spinner fa-spin" style="font-size:24px"></i>

            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
            <span>From: <b>{{rupees}}{{priceFrom}}</b></span>
            <span>To: <b>{{rupees}}{{priceTo}}</b></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-price">
            <mat-slider color="primary" max="10000" min="1" thumb-label="true" [(ngModel)]="priceFrom" (input)="priceFromValue($event)" (mouseup)="selectPrice()"></mat-slider>
            <mat-slider color="warn" [max]="(listSandbox.maxProductPrice$ | async)" [min]=10000 thumb-label="true" [(ngModel)]="priceTo" (input)="priceToValue($event)" (mouseup)="selectPrice()"></mat-slider>
        </div>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Condition</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
            <mat-radio-group matInput>
                <mat-radio-button *ngFor="let condition of conditions" color="primary" (change)="changeCondition($event, condition.value)" [value]="condition.value">{{condition.option}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-expansion-panel> -->

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Brands</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-brands">
            <button class='card-hover' mat-raised-button *ngFor="let brand of listSandbox.manufacturer$ | async" (click)="selectBrand(brand.manufacturerId)" [ngClass]="{'changeShadowColor': brandId == brand.manufacturerId }">
                <img [src]="imagePath+ '?path=' + brand.imagePath + '&name=' + brand.image + '&width=180&height=80'"/>
            </button>
        </div>
    </mat-expansion-panel>

</mat-accordion>