<app-banner-layout></app-banner-layout>
<div class="row products-section">
    <div class="col-12">
        <div class="breadcrumbs-row noborder">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"> CMS </a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/cms/banners']"> Banners </a></li>
                    <li>Add Banners</li>
                </ul>
            </div>
            <div class="bc-col-btn ap-col-btn">
                <button type="submit" (click)="onSubmit()" class="btn btn-save"><img
                        src="assets/img/tick-round-white.png">Save
                </button>
                <button (click)="bannerCancel()" class="btn btn-cancel"><img
                        src="assets/img/close-white-ico.png">Cancel
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
</div>

<div class="flex addproduct-wrap addgroup-wrap">

    <div class="card ap-general">
        <form (ngSubmit)="onSubmit()" [formGroup]="bannerForm">
            <div class="ap-header">
                General Information
            </div>
            <div class="flex ap-body cmsap-body">
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Banner Title<sup>*</sup> </label>
                        <input type="text" class="form-control" [(ngModel)]="bannerTitle" formControlName="bannerTitle" placeholder="Banner Title" [ngClass]="{ 'is-invalid': submitted && f.bannerTitle.errors }">
                        <div *ngIf="submitted && f.bannerTitle.errors" class="invalid-feedback">
                            <div *ngIf="f.bannerTitle.errors.required">Banner Title is required
                            </div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col width100">
                    <div class="form-group">
                        <label>Banner Content</label>
                        <ckeditor formControlName="bannerContent" [ngClass]="{'Validationcolor':bannerForm.get('bannerContent').hasError('required') && bannerForm.get('bannerContent').touched&&submitted==true}">
                        </ckeditor>

                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" class="form-control" [(ngModel)]="bannerLink" formControlName="bannerLink" placeholder="Enter Link" [ngClass]="{ 'is-invalid': submitted && f.bannerLink.errors }">
                        <div *ngIf="submitted && f.bannerLink.errors" class="invalid-feedback">
                            <div *ngIf="f.bannerLink.errors.required">Link is required
                            </div>
                        </div>
                    </div>
                </div>
                <!--Col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" [(ngModel)]="position" formControlName="position" placeholder="Enter Position " [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
                        <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                            <div *ngIf="f.position.errors.required">Position is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Active<sup>*</sup></label>
                        <select class="custom-select col-12" formControlName="active" id="inlineFormCustomSelect" [ngClass]="{ 'is-invalid': submitted && f.active.errors }">
                            <option value="">- -Select Active- -</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <div *ngIf="submitted && f.active.errors" class="invalid-feedback">
                            <div *ngIf="f.active.errors.required">Status is required</div>
                        </div>

                    </div>
                </div>
                <!--col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <div class="image-col">
                            <div class="img-dflt">
                                <input type="file" name="userImg" (change)="uploadChange($event)" accept="image/*" #filePath style="display: none">
                                <input type="hidden" name="fileHidden" formControlName="imageInput"/> <!-- Validation Field -->
                                <img [src]="postImageUrl" width="13%" height="13%">
                                <p></p>
                                <button (click)="uploadButtonClick()" type="button">Upload Picture
                                </button>
                            </div>
                        </div>
                        <div style="color:#f62d51" *ngIf="submitted && f.imageInput.errors">
                            <div *ngIf="f.imageInput.errors.required">Image is required</div>
                        </div>
                    </div>
                 

                </div>
                <!--col-->
            </div>
        </form>
    </div>
    <!--General-->


</div>