<app-sales-header></app-sales-header>
<app-breadcrumb></app-breadcrumb>
<div class="row products-section">
    <div class="col-12">
        <div class="card">
            <div class="product-ts-left">
                <ul>
                    <li>
                        <p>{{'Sales.Orders.TotalOrder'| translate}}</p>
                        <span *ngIf="(layoutSandbox.salesCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.salesCountLoading$ | async)">{{(layoutSandbox.salesCount$ | async)?.totalOrder}} <button type="button" class="btn" placement="bottom" ngbTooltip="Total number of orders placed by all the customers on the platform.">
                <img src="assets/img/info-ico.png" alt="info"> </button></h3>
                    </li>
                    <li>
                        <p>{{'Sales.Orders.TodayOrder'| translate}}</p>
                        <span *ngIf="(layoutSandbox.salesCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <ng-container *ngIf="!(layoutSandbox.salesCountLoading$ | async)">
                            <h3 *ngIf="(layoutSandbox.salesCount$ | async) as count">{{count.todayOrderCount?.orderCount}} <button type="button" class="btn" placement="bottom" ngbTooltip="Total number of orders on this day.">
                              <img src="assets/img/info-ico.png" alt="info"> </button></h3>
                        </ng-container>
                    </li>
                    <li>
                        <p>{{'Sales.Orders.TotalOrderAmount'| translate}}</p>
                        <span *ngIf="(layoutSandbox.salesCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.salesCountLoading$ | async)">{{(layoutSandbox.salesCount$ | async)?.totalOrderAmount | currencysymbol: (commonSandbox.settings$ | async)}} <button type="button" class="btn" placement="bottom" ngbTooltip="Total amount earned on the orders.">
                <img src="assets/img/info-ico.png" alt="info"> </button></h3>
                    </li>
                    <li>
                        <p>{{'Sales.Orders.TodayOrderAmount'| translate}}</p>
                        <span *ngIf="(layoutSandbox.salesCountLoading$ | async)" class="spinner-border spinner-border-sm pull-right" aria-hidden="true"></span>
                        <h3 *ngIf="!(layoutSandbox.salesCountLoading$ | async)">{{(layoutSandbox.salesCount$ | async)?.todayOrderAmount | currencysymbol: (commonSandbox.settings$ | async)}} <button type="button" class="btn" placement="left" ngbTooltip="Total amount earned on orders, on this day.">
                <img src="assets/img/info-ico.png" alt="info"> </button></h3>
                    </li>
                </ul>
            </div>

            <!--Left-->

        </div>
    </div>
</div>
<router-outlet></router-outlet>