.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ed571f !important;
    border: #ed571f !important;
}

.products-section .toggle .tgl:checked+.tgl-btn {
    background-color: #ed571f !important;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.export-data {
    background: #ff895c !important;
}