.swiper-container {
    padding: 16px 2px 2px 2px;
    .swiper-slide {
        text-align: center;
        // margin-right: 10px !important;
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}

.del {
    color: grey;
}


/*green discount*/

.banners-container {
    margin: 22px 0px;
    .banner {
        position: relative;
        margin: 8px;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        transition: 0.15s ease-in;
    }
    &.offer-products {
        h3 {
            font-size: 20px;
            color: black;
            font-weight: 600;
            padding: 20px 0;
            width: 100%;
        }
        .product-item-l {
            height: 100%;
            padding: 10px 16px;
            span.discount {
                position: absolute;
                width: 70px;
                height: 70px;
                top: 20px;
                right: 20px;
                border-radius: 50%;
                background: #027600;
                text-align: center;
                padding: 15px 0;
                font-size: 24px;
                color: white;
                font-weight: 500;
                -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
            }
            a.image-link {
                display: block;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                img {
                    margin-bottom: 0;
                }
            }
            .icons {
                margin-top: 8px;
            }
            a.title {
                font-size: 22px;
                font-weight: 500;
                color: black !important;
            }
            .new-price {
                font-size: 22px;
                span.old-price {
                    font-size: 14px;
                    font-weight: 400;
                    color: #999;
                }
            }
            .prices {
                margin: 0;
            }
            .ratings-r {
                ul {
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-left: 5px;
                        img {
                            margin-bottom: 0;
                        }
                    }
                }
                p {
                    text-align: right;
                    font-size: 14px;
                    font-weight: 500;
                    color: #999;
                }
            }
            &.product-item-r {
                span.discount {
                    width: 37px;
                    height: 37px;
                    padding: 8px 0;
                    font-size: 14px;
                    &.d50 {
                        background: #e1ae09;
                    }
                }
                a.title {
                    font-size: 16px;
                }
                .new-price {
                    font-size: 14px;
                    &.old-price {
                        font-size: 12px;
                    }
                }
                .ratings-r {
                    ul {
                        li {
                            img {
                                width: 11px;
                            }
                        }
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .icons {}
            }
        }
        .op-r {
            justify-content: space-between;
            padding-left: 20px;
            height: 100%;
            .opr-col {
                height: 48.6%;
                width: 49%;
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 959px) {
    .banners-container {
        .banner {
            .info {
                padding: 30px 0px;
                h1 {
                    font-size: 24px;
                }
                h2 {
                    font-size: 16px;
                }
                h3 {
                    font-size: 14px;
                }
            }
        }
    }
}

* {
    box-sizing: border-box;
}

.outLine {
    outline: none;
}

.transparent-card {
    opacity: 0;
}