<div class="subtoolbar catalogtoolbar">
    <div class="sub-nav-menu">
        <a href="javascript:void(0)" [routerLink]="['/catalog/product']" [routerLinkActive]="'active'">
            <img src="assets/img/products-ico.png"> Products
        </a>
        <a href="javascript:void(0)" [routerLink]="['/catalog/categories']" [routerLinkActive]="'active'">
            <img src="assets/img/categories-ico.png"> Categories
        </a>
        <a href="javascript:void(0)" [routerLink]="['/catalog/brand']" [routerLinkActive]="'active'">
            <img src="assets/img/brand-ico.png"> Brands
        </a>
    </div>
</div>