<div class="subtoolbar cmstoolbar">
    <div class="sub-nav-menu">
        <a href="javascript:void(0)" [routerLink]="['/cms/pages']" [appHideIfUnauthorized]="'cms-pages'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-files.svg" alt="pages"><img src="assets/img/header-icons/cms/cms-files-on.svg" alt="pages"></span> {{'CMS.Pages.Pages'| translate}}
        </a>   
        <a href="javascript:void(0)" [routerLink]="['/cms/banners']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> {{'CMS.Banners.Banners'| translate}}
        </a>
    </div>
</div>