.account-sidenav{
    width: 280px;
    padding: 2px;
    .mat-nav-list{
        box-sizing: border-box;
        .mat-list-item{
            height: 36px;
            font-size: 14px;
        }
    }
}
.account-content{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
    .header-row{
        background: #fff;
        padding: 0 16px;
        height: 56px;
    }
    .account-wrapper{
        margin-top: 16px;
        padding: 16px;
        background: #fff;
    }
}

.app.green .horizontal-active-link{
    color: green !important;
}
