.mat-radio-outer-circle {
    left: -3px !important;
    margin-top: -3px !important;
    width: 19px !important;
}

mat-radio-button {
    padding: 1px 4px !important;
}

.settings-right-wrapper {
    margin-top: 0px !important;
}