<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>{{'Sales.Orders.Filters'| translate}}</p>
                    <input class="tgl tgl-light" id="cb1" (change)="changeFilter($event)" [checked]="true" type="checkbox" />
                    <label class="tgl-btn" for="cb1"></label>
                </div>

            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="dropdown" ngbDropdown [appHideIfUnauthorized]="" [multipleHide]="['export-order','delete-order']">
                    <i class="fa fa-ellipsis-h cursor" style="padding:8px 10px;background: #f1cdcd;" [ngClass]="{'export-color': filterDataId.length!=0}" ngbDropdownToggle>
                    </i>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" (click)="exportExcel()" [appHideIfUnauthorized]="'export-order'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)"> <img src="assets/img/export-sm.svg" alt="export"> {{'Sales.Orders.Export'| translate}} </a>
                        <a [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" (click)="bulkDelete()" class="dropdown-item" [appHideIfUnauthorized]="'delete-order'" ngbDropdownItem href="javascript:void(0)"> <img src="assets/img/delete-sm.svg" alt="delete">{{'catalog.nav.Delete'| translate}}</a>
                    </div>
                </div>
            </div>
            <!--Right-->
        </div>
    </div>
</div>


<div class="flex product-wrap example-full-width">
    <div *ngIf="buttonCheck == true" class="filter-section border-right">


        <div class="w3-container">

            <app-sales-order-filter (salesEmit)="receiveProgress($event)"></app-sales-order-filter>

        </div>
    </div>
    <!--Filter-->


    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox" [appHideIfUnauthorized]="" [multipleHide]="['export-order','delete-order']">
                                    <input *ngIf="appSandbox.orderList$ | async as orders" type="checkbox" class="custom-control-input" id="checkbox1" (change)="selectAll()" [(ngModel)]="selectedAll" />
                                    <label class="custom-control-label cursor-pointer" for="checkbox1"></label>
                                </div>
                            </div>
                        </th>

                        <th scope="col">{{'Sales.Orders.OrderId'| translate}}</th>
                        <th scope="col">{{'Sales.Orders.CustomerName'| translate}}</th>
                        <th scope="col">Delivery Location</th>
                        <th scope="col">{{'Sales.Orders.TotalAmount'| translate}}</th>
                        <th scope="col">{{'Sales.Orders.DateAdded'| translate}}</th>
                        <th scope="col">{{'Sales.Orders.DateModified'| translate}}</th>
                        <th scope="col">No of Items</th>
                        <th class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['view-order','delete-order']">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderList of orderListArray">
                        <th scope="row">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2" [appHideIfUnauthorized]="" [multipleHide]="['export-order','delete-order']">
                                    <input type="checkbox" class="custom-control-input" id={{orderList.orderId}} [ngModelOptions]="{standalone: true}" [(ngModel)]="orderList.selected" (change)="checkIfAllSelected()">
                                    <label class="custom-control-label" for={{orderList.orderId}}></label>
                                </div>
                            </div>
                        </th>

                        <td class="vendid vname name" style="color: #181918; position: relative;"><span  (click)="viewOrders(orderList.orderId)" style="cursor: pointer;">{{orderList.orderPrefixId}}</span>
                            <a style="cursor: pointer;"  [appHideIfUnauthorized]="'view-order'" (click)="viewOrders(orderList.orderId);" href="javascript:void(0)" class="lst-xpnd">
                                <img src='assets/img/arrow-right-ico.png'>
                            </a>
                        </td>
                        <td class="name">{{orderList.shippingFirstName}}</td>
                        <td> {{orderList.shippingCity}}<span *ngIf="orderList.shippingCity">,</span>{{orderList.shippingZone}}</td>
                        <td>{{orderList.totalAmount | currencysymbol: (orderList.currencySymbolLeft ? {'position': 'left', symbol: orderList.currencySymbolLeft} : orderList.currencySymbolRight? {position: 'right' , symbol: orderList.currencySymbolRight}:
                            null)}}
                        </td>
                        <td>{{orderList.dateAdded | date: 'dd/MM/yyyy'}}</td>
                        <td>{{orderList.dateModified | date: 'dd/MM/yyyy'}}</td>
                        <td>{{orderList.NoOfItems}}</td>
                        <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['view-order','delete-order']">
                            <div class="dropdown" ngbDropdown>
                                <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle>
                                </i>
                                <div ngbDropdownMenu class="dropdown-menu">
                                    <a class="dropdown-item" ngbDropdownItem [appHideIfUnauthorized]="'view-order'" href="javascript:void(0)" (click)="viewOrders(orderList.orderId)"> <img src="assets/img/export-sm.svg" alt="export"> {{'Sales.Orders.View'| translate}} </a>
                                    <a class="dropdown-item" ngbDropdownItem [appHideIfUnauthorized]="'delete-order'" href="javascript:void(0)" (click)="deleteOrder(orderList.orderId)" [ngbPopover]="deleteContent" placement="left" #deletePop="ngbPopover">
                                        <img src="assets/img/delete-sm.svg" alt="delete"> {{'Sales.Orders.Delete'| translate}}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="no_data" *ngIf="(appSandbox.orderList$ |async)?.length==0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
            <mat-paginator #paginator [length]="appSandbox.orderListCount$ | async" [pageSize]="pageSize" [pageIndex]="index" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
            </mat-paginator>

        </div>
    </div>
    <!--Table-->
</div>