.products-section .toggle .tgl:checked+.tgl-btn:after {
    background-color: #fff !important;
}

.product-wrap .product-table .table .custom-checkbox {
    top: 0px;
}

.toggle .tgl-light:checked+.tgl-btn {
    background-color: #dc4d5b!important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc4d5b !important;
    border: #dc4d5b !important;
}

.export-color {
    background: #eb9595 !important;
}

.vname {
    font-weight: 700;
    font-size: 13px!important;
}

.lst-xpnd {
    /* position: absolute;
    right: 0px; */
}