<div class="row vieworder-wrap" *ngIf="(orderSandbox.viewOrderDetails$ | async) as detail">

    <div class="vs-order-detail" *ngIf="(orderSandbox.viewOrderDetails$ | async) as detail">


        <!--Head-->


        <!--vs-detail-->

    </div>
    <!-- Order Wrap -->

    <div class="details-order-wrap" *ngIf="(orderSandbox.viewOrderDetails$ | async) as detail">

        <div class="details-order-card flex">

            <div class="doc-col">
                <h3>{{'Sales.Orders.Detailsoforder'| translate}}</h3>
                <div class="docc-content">
                    <h4> <span>{{'Sales.Orders.OrderId'| translate}}</span> <b>{{detail.orderPrefixId}}</b> </h4>
                    <h4><span>{{'Sales.Orders.Datetime'| translate}}</span> {{detail.createdDate | date:'dd-MMM-yyyy:h:mm a'}}</h4>
                    <h4><span>{{'Sales.Orders.TotalItems'| translate}}</span> {{detail?.productList.length}}</h4>
                    <h4><span>{{'Sales.Orders.Ordervalue'| translate}}</span> {{detail.currencySymbolLeft}}{{detail.total}} {{detail.currencySymbolRight}}</h4>
                </div>
            </div>
            <!-- col -->

            <div class="doc-col">
                <h3>{{'Sales.Orders.Customerdetails'| translate}}</h3>
                <div class="docc-content">
                    <h4> <b>{{detail.shippingFirstname}}</b> </h4>
                    <h4><span>{{'Sales.Orders.Email'| translate}}</span> {{detail.email}}</h4>
                    <h4><span>{{'Sales.Orders.Mobile'| translate}}</span> {{detail.telephone}}</h4>
                </div>
            </div>
            <!-- col -->

            <div class="doc-col">
                <h3>{{'Sales.Orders.Deliveryaddress'| translate}}</h3>
                <div class="docc-content">
                    <p>{{detail.shippingAddress1}}</p>
                    <p>{{detail.shippingAddress2}}</p>
                    <p>{{detail.shippingCity}}</p>
                    <p>{{detail.shippingZone}}</p>
                    <p>{{detail.shippingPostcode}}</p>
                </div>
            </div>
            <!-- col -->

            <div class="doc-col">
                <h3>{{'Sales.Orders.ChangePaymentStatus'| translate}}</h3>
                <div class="docc-content">
                    <div class="toggle products-section">
                        <p>{{'Sales.Orders.Receivedpayment'| translate}}</p>
                        <input class="tgl tgl-light" id="cb1" type="checkbox" (change)="changePayment($event)" [(ngModel)]="selectedPaidValue" />
                        <label class="tgl-btn" for="cb1"></label>
                    </div>
                </div>
            </div>
            <!-- col -->

            <div class="doc-col">
                <h3>{{'Sales.Orders.Invoice'| translate}}</h3>
                <div class="docc-content">
                    <span class="cursor" *ngIf="(orderSandbox.settingDetail$ | async) as setting" (click)="downloadInvoiceDetail(detail, setting)">
                        <img src="assets/img/download-dark.svg">
                        <a>{{'Sales.Orders.Download'| translate}}</a>
                    </span>

                </div>
            </div>
            <!-- col -->

        </div>

    </div>

    <div class="order-detail-list">

        <div class="odl-row flex" *ngFor="let subArray of detail?.productList" [ngClass]="{'active' : subArray.productId === productDetail.productId}">
            <div class="odlr-lft">
                <div class="odlrl-top flex">
                    <div class="odlrl-top-img">
                        <img style="max-width: 100%;
                              max-height: 100%;" [src]="
                                imageUrl +
                                '?path=' +
                                subArray.containerName +
                                '&name=' +
                                subArray.image +
                                '&width=100&height=100'
                              " onError="this.src='/assets/error-images/Load-icon-Products.png';" class="vendor-img" [alt]="subArray.name" />
                    </div>
                    <div class="odlrl-content">
                        <h3>{{subArray?.name}}</h3>
                        <h5>{{subArray?.orderProductPrefixId}}</h5>
                        <div class="flex odlrl-cont-list">
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.QTY'| translate}}</p>
                                <h4>{{subArray?.quantity}}</h4>
                            </div>
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.Price'| translate}}</p>
                                <h4>{{detail.currencySymbolLeft}} {{subArray?.basePrice}} {{detail.currencySymbolRight}}</h4>
                            </div>
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.Discount'| translate}}</p>
                                <h4 *ngIf="subArray.discountAmount!=='0.00'">{{detail.currencySymbolLeft}} {{subArray.discountAmount}} {{detail.currencySymbolRight}}</h4>
                                <h4 *ngIf="subArray.discountAmount==='0.00' || subArray.discountAmount===null">-</h4>
                            </div>
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.Tax'| translate}}</p>
                                <h4 *ngIf="subArray?.taxType === 2">{{subArray?.taxValue}}%</h4>
                                <h4 class="quantity" *ngIf="subArray?.taxType !== 2">{{detail.currencySymbolLeft}} {{subArray?.taxValue}} {{detail.currencySymbolRight}}</h4>
                            </div>
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.Coupon Discount'| translate}}</p>
                                <h4 *ngIf="subArray.couponDiscountAmount!==null">{{detail.currencySymbolLeft}} {{subArray.couponDiscountAmount}} {{detail.currencySymbolRight}}</h4>
                                <h4 *ngIf="subArray.couponDiscountAmount=='0.00' || subArray.couponDiscountAmount===null"> -</h4>
                            </div>
                            <div class="odlrl-cl-col">
                                <p>{{'Sales.Orders.Total'| translate}}</p>
                                <h4>{{detail.currencySymbolLeft}} {{subArray?.total}} {{detail.currencySymbolRight}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="odlrl-btm">
                    <a href="javascript:void(0)"> {{'Sales.Orders.OrderStatusHistory'| translate}} <img src="assets/img/edit.png" alt="" width="12px" (click)="ordersstatushistory(subArray)" class="cursor"> </a>
                </div>
            </div>
            <!-- lft -->
            <div class="odlr-stat">
                <h5> {{'Sales.Orders.OrderStatus'| translate}}</h5>
                <h3>{{subArray?.orderStatusName}}</h3>
                <p><i>{{(subArray?.modifiedDate!==null?subArray?.modifiedDate:detail?.createdDate) | date: '(dd/MM/YYY hh:mm aa)'}}</i></p>
                <a [appHideIfUnauthorized]="'update-order-status'" class="odlr-edit cursor" (click)="getOrderDetails(subArray)"> <img src="assets/img/edit.png" alt=""> </a>
                <div class="odlr-stat-mod" *ngIf="orderstatusmodel===subArray">
                    <a> <img src="assets/img/close.svg" class="cursor" alt="" (click)="closeorderstatus()"> </a>
                    <p> {{'Sales.Orders.ChangeorderStatus'| translate}}</p>
                    <ng-select style="width:100% !important" appendTo="body" placeholder="- -Select Customer Group- -" [clearable]="false" [searchable]="false" [(ngModel)]="productDetail.orderStatusId">
                        <ng-option *ngFor="let data of orderStatusSandbox.getOrderstatuslist$ | async" [value]="data.orderStatusId">{{data.name}}</ng-option>
                    </ng-select>
                    <button style="margin-top: 14px;" (click)="onItemProductChange(productDetail.orderStatusId, productDetail.orderProductId)">Save</button>
                </div>
            </div>
            <!-- status -->
            <div class="odlr-ship-info">
                <h3>{{'Sales.Orders.ShippingInformation'| translate}}</h3>
                <p>{{'Sales.Orders.TrackingID'| translate}} : {{subArray?.trackingNo}}</p>
                <p> {{'Sales.Orders.URL'| translate}} : <span style="color:blue">{{subArray?.trackingUrl}}</span></p>
                <a class="odlr-edit" [appHideIfUnauthorized]="'update-order-status'"> <img src="assets/img/edit.png" class="cursor" alt="" (click)="shipping(subArray)"> </a>
                <form [formGroup]="shippingForm">
                    <div class="odlr-stat-mod" *ngIf="shippingmodel===subArray">
                        <a> <img src="assets/img/close.svg" alt="" class="cursor" (click)="shippingclose()"> </a>
                        <p> <b> {{'Sales.Orders.ShippingInformation'| translate}} </b> </p>
                        <input type="text" placeholder="Tracking ID" formControlName="id" [ngClass]="{'error-field' : (shippingForm.controls['id'].hasError('required') && shippingForm.controls['id'].touched)}">
                        <input type="text" placeholder="URL" formControlName="url" [ngClass]="{'error-field' : (shippingForm.controls['url'].hasError('required') && shippingForm.controls['url'].touched)}">
                        <button (click)="updateShippingInfo()">Save</button>
                    </div>
                </form>
            </div>
            <!-- Ship -->
            <div class="odh-mod" *ngIf="ordershistory===subArray">
                <a class="closemod"> <img src="assets/img/close.svg" class="cursor" alt="" (click)="closeorderhistory()"> </a>
                <h3>{{'Sales.Orders.OrderStatusHistory'| translate}} >{{subArray?.name}}</h3>
                <div class="odh-stat flex">
                    <a href="javascript:void(0)" class="arr-prev"> <img src="assets/img/icon-keyboard-arrow-left-sharp.svg" alt=""> </a>
                    <a href="javascript:void(0)" class="arr-nxt"> <img src="assets/img/icon-keyboard-arrow-left-sharp.svg" alt=""> </a>
                    <div style="padding-top:24px" class="odh-stat-col" *ngFor="let log of (orderSandbox.getOrderLogValue$ | async)" [ngClass]="{'odh-stat-col-completed' : log.createdDate !== ''}">
                        <h4>{{log?.name}}</h4>
                        <p><i>{{log?.createdDate | date: '(dd/MM/YYY hh:mm aa)'}}</i></p>
                    </div>

                </div>
            </div>
        </div>
        <!-- row -->
    </div>

</div>