<!--REACTIVE FORM-->
<form novalidate [formGroup]="brandForm">

    <div class="row products-section">
        <div class="col-12">
            <div class="breadcrumbs-row noborder">
                <div class="bc-col">
                </div>
                <div class="bc-col-btn ap-col-btn">
                    <button class="btn btn-save" type="submit" (click)="onSubmits()"><img
                            src="assets/img/tick-round-white.png"alt="save"> {{'catalog.categories.Save'| translate}}
                    </button>
                    <button class="btn btn-cancel" (click)='cancel()'><img
                            src="assets/img/close-white-ico.png" alt="cancel"> {{'catalog.categories.Cancel'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex addproduct-wrap">
        <div class="card ap-general">
            <div class="ap-header">
                <span> 1 </span> {{'catalog.product.General'| translate}}
            </div>
            <div class="flex ap-body">
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'catalog.Brand.BrandName'| translate}} <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="{{'catalog.Brand.BrandName'| translate}}" formControlName="name" [ngClass]="{'validationcolor':brandForm.get('name').hasError('required') && brandForm.get('name').touched && submitted}">
                        <div class="validation-error" *ngIf="brandForm.get('name').hasError('required') && brandForm.get('name').touched && submitted">
                            {{'catalog.Error.BrandNameRequired'| translate}}
                        </div>
                        <div class="validation-error" *ngIf="brandForm.get('name').hasError('maxlength')">
                            {{'catalog.Error.Mustbemax64'| translate}}
                        </div>
                    </div>
                </div>
                <!-- Col -->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label class="image-upload-container">{{'catalog.Brand.BrandImage'| translate}}
                            <sup>{{updateManufacturerId ? '' : '*'}}</sup></label>
                        <input type="file" accept="image/*" class="form-control" (change)='onUpload($event)' #filePath style="display:none" [ngClass]="{'validationcolor':brandForm.get('image').hasError('required') && brandForm.get('image').touched && submitted}">
                        <input type="hidden" name="fileHidden" formControlName="image" />
                    </div>
                    <button class="btn btn-success" (click)='uploadButtonClick()'>{{'catalog.Brand.UploadPic'| translate}}</button>
                    <p style="font-size: 10px">{{'catalog.Error.Support'| translate}}</p>
                    <div class="validation-error" style="margin-top: -14px;" *ngIf="brandForm.controls['image'].hasError('required') && brandForm.controls['image'].touched">
                        {{'catalog.Error.BrandImageRequired'| translate}}
                    </div>
                    <div *ngIf="imageSizeError" class="upload-error validation-error">{{'catalog.Error.Imageshouldbelessthan2MB'| translate}}</div>
                    <div *ngIf="imageTypeError" class="upload-error validation-error">{{'catalog.Error.Pleaseuploadimageonly(.png,.jpg,.jpeg)'| translate}}</div>
                </div>

                <!-- col for updating image -->
                <!--  -->
                <div *ngIf='postImageUrl'>
                    <img [src]=postImageUrl class="brand-img" [alt]="manufacturerEditedValue.name ? manufacturerEditedValue.name : array ">
                </div>

                <div class="ap-body-col">
                    <div class="form-group">
                        <label>{{'catalog.product.SortOrder'| translate}}<sup>*</sup></label>
                        <input type="text" appOnlyNumber class="form-control" placeholder="sortOrder" formControlName="sortOrder" [ngClass]="{'validationcolor':brandForm.get('sortOrder').hasError('required') && brandForm.get('sortOrder').touched && submitted}">
                        <div class="validation-error" *ngIf="brandForm.get('sortOrder').hasError('required') && brandForm.get('sortOrder').touched && submitted">
                            {{'catalog.Error.SortOrderRequired'| translate}}
                        </div>
                    </div>
                </div>
                <div class="ap-body-col">
                    <div class="form-group">
                        <label> {{'catalog.categories.Status'| translate}}<sup>*</sup></label>
                        <ng-select placeholder="{{'catalog.Brand.SelectStatus'| translate}}" [searchable]="false" formControlName="status" [ngClass]="{'error-fields':brandForm.get('status').hasError('required') && brandForm.get('status').touched && submitted}">
                            <ng-option [value]="1">{{'catalog.Brand.Enabled'| translate}}</ng-option>
                            <ng-option [value]="0">{{'catalog.Brand.Disabled'| translate}}</ng-option>
                        </ng-select>


                        <div class="validation-error" *ngIf="brandForm.get('status').hasError('required') && brandForm.get('status').touched && submitted">
                            {{'catalog.Error.StatusRequired'| translate}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>