.star {
    font-size: 1.4rem;
    color: #d3d3d3;
    position: relative;
}

.full {
    color: #ffdc1c;
    overflow: hidden;
}

.half {
    position: absolute;
    overflow: hidden;
    color: #ffdc1c;
}