<form [formGroup]="filterForm" class="filter-form" (ngSubmit)="applyFilter()">

    <div class="form-group">
        <label for="keyword">{{'catalog.product.ProductName'| translate}}</label>
        <input type="text" formControlName="keyword" class="form-control" id="Keyword" aria-describedby="emailHelp" placeholder="{{'catalog.product.EnterSearchProductName'| translate}}">
    </div>
    <div class="form-group">
        <label for="sku">{{'catalog.product.Sku'| translate}}</label>
        <input type="text" formControlName="sku" class="form-control" id="sku" placeholder="{{'catalog.product.SkuNumber'| translate}}">
    </div>
    <div class="form-group">
        <label>{{'catalog.product.Price'| translate}}</label>

        <div class="radio">
            <label style="cursor: pointer" class="prod_filter">
                <input style="cursor: pointer" type="radio" name="price" value="1" formControlName="price">
                {{'catalog.product.Min-price'| translate}}
            </label>
            <label style="cursor: pointer" class="prod_filter">
                <input style="cursor: pointer" type="radio" name="price" value="2" formControlName="price">
                {{'catalog.product.Max-price'| translate}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>{{'catalog.product.Status'| translate}}</label>
        <ng-select class="sol-fm" placeholder="{{'catalog.product.Select Status'| translate}}" [searchable]="false" id="inlineFormCustomSelect" formControlName="status" [clearable]="false">
            <ng-option [value]="1">{{'catalog.product.Active'| translate}}</ng-option>
            <ng-option [value]="0">{{'catalog.product.In-Active'| translate}}</ng-option>
        </ng-select>
    </div>
    <div class="form-group">
        <label>Product Type</label>
        <ng-select placeholder="Select Product Type" [searchable]="false" [clearable]="false" style="cursor: pointer" class="sol-fm" id="status" formControlName="productType">
            <ng-option value="1">{{ 'catalog.product.TodayDeals' | translate }}</ng-option>
            <ng-option value="2">{{ 'catalog.product.Feature' | translate }}</ng-option>
        </ng-select>
    </div>
    <div class="text-right filter-btns">
        <a (click)="resetFilter()" style="cursor: pointer">{{'catalog.product.Reset'| translate}}</a>

        <button type="submit" class="btn">{{'catalog.product.ApplyFilters'| translate}}
        </button>
    </div>
</form>