ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

.nointernet {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f3f6;
    flex-direction: column;
    width: 100%;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    margin-block: 24px 8px;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    line-height: 1.2;
    margin-block: 0;
    text-align: center;
}