<app-global-loader></app-global-loader>
<router-outlet></router-outlet>



<!-- <router-outlet></router-outlet> -->
<div *ngIf="!noInternetConnection">
    <app-global-loader></app-global-loader>
    <router-outlet></router-outlet>
</div>
<!-- <div class="no-internet" *ngIf="noInternetConnection">
<h1>No Internet Connection</h1>
</div> -->
<div class="nointernet" *ngIf="noInternetConnection">
    <img src="assets/img/nointernet.svg" alt="">
    <h2>Oops!</h2>
    <p>No Internet connection found. <br> Check your connection or try again</p>
</div>