.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ed571f !important;
    border: #ed571f !important;
}

.product-wrap .product-table .table .custom-checkbox {
    top: 0px !important;
}

.products-section .toggle .tgl:checked+.tgl-btn {
    background-color: #ed571f !important;
}

.export-data {
    background: #ff895c !important;
}