<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>{{'catalog.Brand.Filters'| translate}}</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" [checked]="true" (change)="changeFilter($event)" />
                    <label class="tgl-btn" for="cb1"></label>
                </div>
                <ul class="order-status">
                    <li>
                        <span class="active"></span>{{'catalog.Brand.Active'| translate}}
                    </li>
                    <li>
                        <span class="inactive"></span>{{'catalog.Brand.In-Active'| translate}}
                    </li>
                </ul>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="bc-col-btn">
                    <button class="btn" (click)='addBrand()' [appHideIfUnauthorized]="'create-brands'"><img
                            src="assets/img/add-white-ico.png" alt="add brand"> {{'catalog.Brand.AddBrand'| translate}}
                    </button>
                </div>
                <div class="dropdown" ngbDropdown [appHideIfUnauthorized]="" [multipleHide]="['export-brands','delete-brands']">
                    <i class="fa fa-ellipsis-h cursor" style="padding:8px 10px;margin-left:16px;background:#ffa17d;" [ngClass]="{'export-data': filterDataId.length !=0}" ngbDropdownToggle> </i>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a [appHideIfUnauthorized]="'export-brands'" [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" (click)="exportBrand()" class="dropdown-item" ngbDropdownItem href="javascript:void(0)"> <img src="assets/img/export-sm.svg" alt="export"> {{ 'catalog.product.Export' | translate }}</a>
                        <a [appHideIfUnauthorized]="'delete-brands'" [ngClass]="{'blur':filterDataId.length==0}" [disabled]="filterDataId.length==0" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="bulkDelete()"> <img src="assets/img/delete-sm.svg" alt="delete"> {{ 'catalog.nav.Delete' | translate }} </a>
                    </div>
                </div>

            </div>
            <!--Right-->
        </div>
    </div>
</div>



<div class="flex product-wrap example-full-width">
    <div *ngIf="buttonCheck == true" class="filter-section">
        <div class="w3-container">
            <app-catalog-brand-filter (progressEmit)="receiveProgress($event)"></app-catalog-brand-filter>
        </div>
    </div>
    <!--Filter-->
    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%" [appHideIfUnauthorized]="" [multipleHide]="['export-brands','delete-brands']">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input class="text-center" *ngIf="sandbox.getManufactureList$ | async as brands" type="checkbox" class="custom-control-input" id="checkbox1" [(ngModel)]="selectedAll" (change)="selectAll()" />
                                    <label class="custom-control-label" for="checkbox1"></label>
                                </div>
                            </div>
                        </th>
                        <th class="text-left" scope="col">{{'catalog.Brand.BrandName'| translate}}</th>
                        <th class="text-left" scope="col">{{'catalog.Brand.BrandImage'| translate}}</th>
                        <th class="text-center" scope="col">{{'catalog.product.SortOrder'| translate}}</th>
                        <th class="text-center" scope="col" width="100px" class="text-center">{{'catalog.product.Status'| translate}}</th>
                        <th class="text-center" scope="col" [appHideIfUnauthorized]="" [multipleHide]="['edit-brands','delete-brands']">{{'catalog.product.Action'| translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let arr of brandListArray'>
                        <th scope="row" class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['export-brands','delete-brands']">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id={{arr.manufacturerId}} value="check" [(ngModel)]="arr.selected" (change)="checkIfAllSelected()">
                                    <label class="custom-control-label" for={{arr.manufacturerId}}></label>
                                </div>
                            </div>

                        </th>

                        <td class="name">{{arr.name}}</td>
                        <td class="">
                            <img *ngIf="arr.image" [src]="imageUrl+ '?width=60&height=60&path=' + arr.imagePath + '&name='+ arr.image" onError="this.src='/assets/error-images/Load-icon-Products.png';" (load)="brandListImageLoading(arr.manufacturerId)" [hidden]="!brandListImage[arr.manufacturerId]" [alt]="arr.name">
                            <img src="./assets/error-images/Load icon Products.png" [hidden]="brandListImage[arr.manufacturerId]" alt="error-image">
                        </td>
                        <td class="text-center">{{arr.sortOrder}}</td>
                        <td class="text-center">
                            <div *ngIf="arr.isActive === 1">
                                <span class="tag-active">{{'Settings.Role.Active'| translate}}</span>
                            </div>
                            <div *ngIf="arr.isActive === 0">
                                <span class="tag-inactive">{{'Settings.Role.InActive'| translate}}</span>
                            </div>
                        </td>
                        <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['edit-brands','delete-brands']">
                            <div class="dropdown" ngbDropdown>
                                <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle>
                                </i>
                                <div ngbDropdownMenu class="dropdown-menu">
                                    <a [appHideIfUnauthorized]="'edit-brands'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="editManufacture(arr)"> <img src="assets/img/edit.png" alt="edit"> {{'catalog.Brand.Edit'| translate}} </a>
                                    <a [appHideIfUnauthorized]="'delete-brands'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deleteBrand(arr.manufacturerId)"> <img src="assets/img/delete-sm.svg" alt="delete"> {{'catalog.Brand.Delete'| translate}} </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(sandbox.getManufactureList$|async)?.length==0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
            <mat-paginator #paginator [length]='(sandbox.getManufacturercount$|async)' [pageSize]="pageSize" [pageIndex]="index" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
            </mat-paginator>

        </div>
    </div>
    <!--Table-->
</div>