<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>The admin can configure the number of orders per page in this section What is required here?</p>
</div>

<div class="setup-wrapper  setup-personalize">
    <div class="setup-container flex">

        <div class="setup-left">
            <h3>{{'Settings.personalize.order.Order' | translate}}</h3>
            <p>The admin can provide the invoice prefix that will follow the order number here. This will be the common prefix for all the order numbers. The admin can also set up the default order status once it is placed by the Customer.</p>

        </div>

        <div class="setup-right">
            <form style="margin: 0;" [formGroup]="perOrderForm" class="form-horizontal m-t-20">
                <div class="sup-rht-section">

                    <div class="suprs-form">
                        <div class="suprs-form-row flex">
                            <label>{{'Settings.personalize.order.InvoicePrefix' | translate}}</label>
                            <div class="suprs-form-col">
                                <input  type="text" formControlName="invoicePrefix" [ngClass]="{ 'is-invalid': submitted && f.invoicePrefix.errors }" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="suprs-form">
                        <div class="suprs-form-row flex">
                            <label>{{'Settings.personalize.order.OrderStatus' | translate}}</label>
                            <div class="suprs-form-col">
                                <ng-select placeholder="{{'Settings.personalize.order.ChooseOrderStatus' | translate}}" [searchable]="false"  formControlName="orderStatus">
                                    <ng-option *ngFor=" let orderStatuslist of orderStatusSandbox.getOrderstatuslist$ | async" [value]="orderStatuslist.orderStatusId">{{orderStatuslist.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="flex srbtn">
                        <button  [routerLink]="['/settings']" class="cancel">{{'Settings.personalize.order.Cancel' | translate}}</button>
                        <button  (click)="onSubmit()">{{'Settings.Local.Save' | translate}}</button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>