
  .body-section {
    box-shadow: 0 2px 10px #00000026;
    background-color: #fff;
    width: 70%;
    margin: auto;
    padding: 3% 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .recover-form{
      width: 422px;
      margin: auto;
      .pwd-title {
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #264151;
        display: block;
        margin-bottom: 15px;
        padding: 1em;
        text-align: center;
        &.pwd-link-expired {
          color: red !important;
          padding: 1.5em !important;
        }
      }
      .content {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1b1b1c;
        display: block;
      }

      button {
        height: 53px;
        background-color: #264151;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        width: 100%;
        margin: 5% 0% 3%;
        border: none;

      }
    }
    .error-data {
      color: #ffedeb;
      position: absolute;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ff0101;
    }
    .mt-2{
      width: 100%;
    }
  }
  .invalid {
    border: 1px solid red !important;
  }
  .errMsg {
    font-size: 11px !important;
    color: red !important;
  }
