
<mat-card>
<div class="body-section">
  <ng-container>
      <ng-container>
      <form [formGroup]="setPasswordForm" (ngSubmit)="recoverPassword(setPasswordForm)" autocomplete="off">
          <div class="recover-form">
              <span class="pwd-title">Reset Password</span>

            <div class="data-col">
              <div class="form-group">
                  <label>Password<sup>*</sup> </label>
                  <input class="form-control" placeholder="Password" formControlName="password" type="password" minlength="8" required [ngClass]="{validationcolor:setPasswordForm.controls.password.hasError('required') && submitted }">
                  <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('required') && submitted">Password is required</div>
                  <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('minlength') && submitted">Must be at least 8 characters long</div>
                  <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasCapitalCase') || setPasswordForm.controls['password'].hasError('hasSmallCase') && submitted">Password must contain at least one lowercase and one uppercase letter</div>
                  <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('hasNumber') || setPasswordForm.controls['password'].hasError('hasSpecialCharacter') && submitted">Password  must contain at least one symbol and one number</div>
                  <div class="validation-error" *ngIf="setPasswordForm.controls['password'].hasError('maxlength') && submitted">Password should not more than 50 characters</div>
              </div>
          </div>

          <div class="data-col">
            <div class="form-group">
                <label>Confirm Password<sup>*</sup> </label>
                <input class="form-control" placeholder="Confirm Password" maxlength="50"  formControlName="confirmPassword" type="password" required [ngClass]="{validationcolor:setPasswordForm.controls.confirmPassword.hasError('required') && submitted }">
                <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('required') && submitted">Confirm password is required</div>
              <div class="validation-error" *ngIf="setPasswordForm.controls['confirmPassword'].hasError('mismatchedPasswords') && submitted">Password does not match</div>
            </div>
          </div>

          <div class="text-center mt-2 btn">
            <button  class="mat-elevation-z6 signinbtn" type="button" (click)="recoverPassword(setPasswordForm)">
                <span>Submit</span>
            </button>
          </div>
          </div>
      </form>
  </ng-container>
  <ng-template #expriedToken>
      <div class="recover-form">
          <span class="pwd-title pwd-link-expired">
             Link have already been used
          </span>
      </div>
  </ng-template>
  </ng-container>
</div>
</mat-card>
