.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #b282e7 !important;
    border: #b282e7 !important;
}

.form-group {
    margin: 0;
}

.product-wrap .product-table .table .custom-checkbox {
    top: 0;
}

.export-data {
    background: #d2a9ff !important;
}