<app-pages-layout></app-pages-layout>
<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="bc-col-btn">
                    <button class="btn cms-btn" (click)="addPage()" [appHideIfUnauthorized]="'create-pages'"><img
                            src="assets/img/add-white-ico.png" alt="add">{{'CMS.Pages.NewPage'|
                        translate}}
                    </button>
                </div>
                <div class="dropdown" ngbDropdown [appHideIfUnauthorized]="'delete-pages'">
                    <i class="fa fa-ellipsis-h cursor" style="padding:8px 10px; margin-left:16px;background:#d3c3e5" [ngClass]="{'export-data': checkedData.length != 0}" ngbDropdownToggle>
                    </i>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a [ngClass]="{'blur':checkedData.length==0}" [disabled]="checkedData.length==0" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="bulkDelete()"> <img src="assets/img/delete-sm.svg"> {{'catalog.nav.Delete'| translate}} </a>
                    </div>
                </div>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap">

    <div class="product-table" style="width:100%">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%" [appHideIfUnauthorized]="'delete-pages'">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                </div>
                            </div>
                        </th>
                        <th scope="col">{{'CMS.Pages.Title'| translate}}</th>
                        <th scope="col" class="text-center">{{'CMS.Pages.Status'| translate}}</th>
                        <th scope="col" class="text-center" width="100" [appHideIfUnauthorized]="" [multipleHide]="['delete-pages','edit-pages']">{{'CMS.Pages.Action' | translate}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pagesList of appSandbox.pagesList$ | async; let i=index">
                        <th scope="row" class="text-center" [appHideIfUnauthorized]="'delete-pages'">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" (click)="selectChkBox($event, pagesList.pageId)" id={{pagesList.pageId}} [checked]="checkCondition[pagesList.pageId]" [ngModelOptions]="{standalone: true}" [(ngModel)]="checkmodules[pagesList.pageId]">
                                    <label class="custom-control-label" for={{pagesList.pageId}}></label>
                                </div>
                            </div>
                        </th>
                        <td class="name">{{pagesList.title}}</td>
                        <td class="text-center">
                            <div *ngIf="pagesList.isActive == 1">
                                <span class="tag-active">{{'Settings.Role.Active'| translate}}</span>
                            </div>
                            <div *ngIf="pagesList.isActive == 0">
                                <span class="tag-inactive">{{'Settings.Role.InActive'| translate}}</span>
                            </div>
                        </td>
                        <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['delete-pages','edit-pages']">
                            <div class="dropdown" ngbDropdown>
                                <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle> </i>
                                <div ngbDropdownMenu class="dropdown-menu">
                                    <a [appHideIfUnauthorized]="'edit-pages'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="editPageList(pagesList)"> <img src="assets/img/edit.png" alt="edit" />{{'CMS.Pages.Edit'| translate}} </a>
                                    <a [appHideIfUnauthorized]="'delete-pages'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deletePages(pagesList.pageId)"> <img src="assets/img/delete-new.png" alt="delete"> {{'CMS.Pages.Delete'| translate}} </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(appSandbox.pagesList$ | async)?.length==0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
        </div>
        <mat-paginator [length]="appSandbox.pagesListCount$ | async" [pageSizeOptions]="[pageSize]" [pageSize]="pageSize" [pageIndex]="index" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>