<div class="set-lay-notes flex" style="padding: 0 10px 10px 10px;">
    <h4>Note :</h4>
    <p>In this section, the admin can provide social media page links of eCommerce portal – Facebook page link, Twitter page link and Instagram page link. </p>
</div>

<div class="settings-right-wrapper addnewuser" style="padding-bottom: 0;">

    <div class="new-user" style="border: none;">
        <form (ngSubmit)="onSubmit()" [formGroup]="socialForm" class="form-horizontal m-t-20">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Social.Facebook' | translate}}</label>
                        <input [appDisableIfUnauthorized]="'edit-social-url'" type="text" placeholder="{{'Settings.Social.Facebook'| translate}}" formControlName="facebook" class="form-control">
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Social.Google'| translate}}</label>
                        <input [appDisableIfUnauthorized]="'edit-social-url'" type="text" formControlName="google" class="form-control" placeholder="{{'Settings.Social.GoogleLink' | translate}}">

                    </div>
                </div> -->
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Social.Twitter' | translate}}</label>
                        <input [appDisableIfUnauthorized]="'edit-social-url'" type="text" class="form-control" formControlName="twitter" placeholder="{{'Settings.Social.TwitterLink' | translate}}">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Social.Instagram' | translate}}</label>
                        <input [appDisableIfUnauthorized]="'edit-social-url'" type="text" class="form-control" formControlName="instagram" placeholder="{{'Settings.Social.Instagram'| translate}}">
                    </div>
                </div>
                <div class="col-12">
                    <!-- <div class="flex user-btn">`
                        <button [appHideIfUnauthorized]="'edit-social-url'" type="submit" class="settings-add-button">{{'Settings.Social.Save' | translate}}</button>
                        <button [appHideIfUnauthorized]="'edit-social-url'" (click)="cancel()" class="settings-add-button settings-cancel-button">{{'Settings.Social.Cancel' | translate}}</button>
                    </div> -->
                    <div class="flex srbtn">
                        <button (click)="cancel()" [appHideIfUnauthorized]="'edit-social-url'" class="cancel">{{'Settings.Social.Cancel' | translate}}</button>
                        <button type="submit" [appHideIfUnauthorized]="'edit-social-url'">{{'Settings.Social.Save' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>