<mat-chip-list *ngIf="((wishlistSandbox.wishlist$ | async)?.length == 0)&&(wishlistSandbox.wishlistLoaded$ | async)">
    <mat-chip color="warn" style="width: 25%;" selected="true">YOU HAVE NO ITEM IN WISH LIST</mat-chip>
</mat-chip-list>

<mat-card class="p-0">
    <div class="wrapper" *ngIf="wishlistSandbox.wishlistLoading$ | async">
        <div class="overlay">
            <div class="spinner-wrapper">
                <app-spinner [isShow]="wishlistSandbox.wishlistLoading$ | async"></app-spinner>
            </div>
        </div>
    </div>
    <div class="mat-table wishlist-table" *ngIf="(wishlistSandbox.wishlist$ | async)?.length > 0">
        <div class="mat-header-row">
            <div class="mat-header-cell">Product</div>
            <div class="mat-header-cell">Name</div>
            <div class="mat-header-cell" style="margin-left: 15px">Price</div>
            <div class="mat-header-cell">Availabile Date</div>
            <div class="mat-header-cell">
                <div class="px-1">Action
                </div>
            </div>
        </div>
        <div *ngFor="let product of wishlistSandbox.wishlist$ | async" class="mat-row">
            <div class="mat-cell"><img *ngIf="product.productImage" [src]="imagePath+ '?path=' + product.productImage.containerName + '&name=' + product.productImage.image + '&width=300&height=300'" onError="this.src='/assets/images/default_image.png';">
            </div>
            <div class="mat-cell"><a [routerLink]="['/products/productdetails', product.productId]" class="product-name">{{product.product.name}}</a>
            </div>
            <div class="mat-cell" style="margin-left: 15px">
                <ng-container > $ {{product?.product?.price}}
                </ng-container>    
            </div>
            <div class="mat-cell">{{product.product.dateAvailable | date:'dd/MM/yyyy'}}</div>
            <div class="mat-cell">
                <div class="p-1">
                    <button class="card-hover" mat-mini-fab color="primary" (click)="addToCart(product)" matTooltip="Add To Cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="remove(product.productId)" matTooltip="Clear" class="remove card-hover">
                        <mat-icon>close</mat-icon>
                    </button>
                    <span [hidden]="!(wishlistSandbox.wishlistLoading$ | async)" class="spinner-border spinner-border-sm pull-right" role="status" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</mat-card>