<div class="setup-wrapper">


    <div class="setup-container localization-container">

        <div class="loc-lay-title">
            <h3>Localization</h3>
            <p>Localization is the adaptation of the eCommerce business to a certain country and zone and configuring of the local currency, delivery locations and taxes that is applicable for the business. </p>
        </div>

        <div class="card ap-general ap-info set-loc-card">
            <div class="localize-tab  ap-body">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/countries']" [appHideIfUnauthorized]="'list-country'">Country</button>
                        </ng-template>

                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle='zone'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/zone']" [appHideIfUnauthorized]="'list-zone'">Zone</button>
                        </ng-template>
                        <ng-template ngbTabContent>


                        </ng-template>
                    </ngb-tab>

                    <!-- <ngb-tab>
                        <ng-template ngbTabTitle='Delivery Location'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/delivery-location']" [appHideIfUnauthorized]="'delivery-location-list'">Delivery Location</button>
                        </ng-template>

                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle='Language'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/language']" [appHideIfUnauthorized]="'list-language'">Language</button>
                        </ng-template>

                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle='Currency'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/currency']" [appHideIfUnauthorized]="'list-currency'">Currency</button>
                        </ng-template>

                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle='Tax'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/tax']" class="tablinks" [appHideIfUnauthorized]="'list-tax'">Tax</button>
                        </ng-template>

                    </ngb-tab> -->

                    <ngb-tab>
                        <ng-template ngbTabTitle='Order Status'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/order-status']" class="tablinks" [appHideIfUnauthorized]="'list-order-status'">Order Status</button>
                        </ng-template>

                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle='Stock Status'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/stock-status']" [appHideIfUnauthorized]="'list-stock-status'">Stock Status</button>
                        </ng-template>

                    </ngb-tab>

                    <!-- <ngb-tab>
                        <ng-template ngbTabTitle='Email Template'>
                            <button [routerLinkActive]="'active'" [routerLink]="['/settings/local/emailtemp']" class="tablinks" [appHideIfUnauthorized]="'list-email-template'">Email Template</button>
                        </ng-template>

                    </ngb-tab> -->
                </ngb-tabset>
                <!-- <button class="back-buttons" routerLink="/settings"> <img style="width: 20px;height: 13px;padding-right: 2px;" src="assets/img/arrow-back.svg" alt="back">Back</button> -->
            </div>
        </div>

        <!-- <div class="set-lay-notes flex">
            <h4>Note :</h4>
            <p>Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut de commodis suis. Tum dicere exorsus est consecutus? laudem et ultimum bonorum, quod maxime consuevit iactare. Alii autem, quibus ego cum soluta nobis est consecutus? laudem et aut petat.
                In oculis quidem faciunt, ut dolore suo sanciret militaris imperii disciplinam exercitumque in.</p>
        </div> -->

    </div>
</div>
<router-outlet></router-outlet>